/*
 * Style tweaks
 * --------------------------------------------------
 */
/* Move down content because we have a fixed navbar that is 50px tall */
html,body {
 /* padding-bottom: 20px;*/
 overflow-x: hidden; /* Prevent scroll on narrow devices */ 

}

body.modal-open { overflow:inherit; padding-right:inherit !important; }

.row.display-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.display-flex.container:before,
.display-flex.container:after,
.display-flex.row:before,
.display-flex.row:after {
    content:normal;
}

.hero {
 padding-bottom:25px;
 padding-top:25px;
 background:#0096a9;
}


.brand
{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    margin: auto;
    padding-top:4px;
}

.checklist li {margin-bottom:15px;}

h1 { font-family: 'Passion One', cursive; -webkit-text-stroke: 0.4px}
h2 {font-size:22px;}
h3 {font-size:18px;}
.h1homepage {color:white; font-size:36px;margin:0;}
.h1homepageright {color:#f17c36; font-size:28px;margin:0;}

hr {
color: #eee;
background-color: #eee;
height: 1px;
margin-bottom:25px;
}

.searchbottom { width: 100%; height: 300px; }
.responsiveheader {  width:728px; height: 90px; position:absolute; right:0; bottom:20px;}

#registration h2 {font-family: 'Passion One', cursive; -webkit-text-stroke: 0.2px; color:#b66222;font-size:26px;}
#advertform h2 {font-family: 'Passion One', cursive; -webkit-text-stroke: 0.2px; color:#b66222;font-size:26px;}


.white-body {background-color:#fff;padding-bottom:30px;}

.white-body h1 { margin-top:10px; font-family: 'Passion One', cursive; -webkit-text-stroke: 0.4px; color:#b66222;}
.white-body h2 { font-size:1.6em;font-weight:bold;}
.white-body p { font-size:1.1em;}

.h2brown { color:#b66222;}

#sidebar {background-color:#fff;border-radius:4px;}
#sidebar-breeds {background-color:#eeeeee;}

.search-left { padding:0px;}
.search-left h2 {font-size:24px;}
.search-left .refinetitle {font-family:Helvetica,sans-serif;font-size:24px;color:#000;padding:10px 0px 10px 0px;}

.search-right {
    min-height: 800px;
    -webkit-transform: translate3d(0,0,0);
}

.search-right h1 { margin-top:0px; font-family: 'Passion One', cursive; -webkit-text-stroke: 0.4px; color:#b66222; font-size:36px;}

.blue-container {
  background:#0096a9;
  padding-top:35px;
  padding-bottom:35px;
}

.searchhome{
    height:100%;
    padding:0px; 
    color:#fff;
}

.searchhome .inner {padding:10px;}
.searchhome p {font-size:1.2em;}
.searchhomeright {background-color:#ffe1ad;padding-top:10px;padding-bottom:10px;height:310px;}
.searchhomeright p {font-size:1em;}
.searchhomeright li { margin-left: -0.7em;  padding-left: 0.2em; list-style-position: outside;  line-height: 1.5em; }
.error {color:red;}

.heroimage { 
      background-image: url(../images/dogs_hero.png);
      background-repeat: no-repeat;
      background-position:absolute;bottom:0px;right:0px;
      background-color:red;
      height:300px;

}

.navexpander:hover, .navexpander:visited, .navexpander:link, .navexpander:active  {
  color: white;
  text-decoration: none; 
}

.footersmall {
   height:60px; line-height:60px; top:0px;background-color:#dbdbdb;color:#808080;font-size:14px;
}

.footersmall a {margin-right:10px;margin-left:10px; color:#808080; font-family:Helvetica,sans-serif; font-weight:bold; text-decoration:none;}
.footersmall a.first {margin-left:15px !important;}

.footerbottom {
   line-height:30px;font-size:14px;
}

.footerpf {
   font-size:16px;
   background-color:#91A15F;
}

.footerpf a {color:#fff;}

.footer {
  background-color:#eee;
  color:#8b8b8b;
  padding-top:35px;
  padding-bottom:35px;
  line-height:22px;
}

.footer .heading {
  padding-bottom:10px;
  font-weight:bold;
}

.footer a {color:#8b8b8b;line-height:1.9em;}

.postadvert {background-color:#0096a9;height:100%;width:100%;color:white;}

.fa-question-circle {
  color: #0096a9;
}

.ratingDisplay {display:block;color:#000;text-decoration:none;padding-top:5px;padding-bottom:5px;}
.ratingDisplay:link, .ratingDisplay:hover, .ratingDisplay:visited, .ratingDisplay:active {color:#000; text-decoration:none; outline:none;}
.ratingTitle{display:block;font-weight:bold;line-height:20px;}
.ratingText{display:block;;line-height:30px;}
.ratingIcon {float: right; color: black; display: inline-block;}  
.green-icon {color:green;}
.ratingDisplay:hover .ratingIcon {color:green;}

.collapseHeader:link,
.collapseHeader:visited,
.collapseHeader:active,
.collapseHeader:hover {color: #000;font-weight:bold;text-decoration:none;} 

.btn-custom {
    background: #fcb843;
    border-color: #fcb843;
    color: #fff !important;
    font-weight:bold;
}

.btn-custom:hover {
    background: #dea239;
    border-color: #dea239;
 }

.btn-custom-on {
    background: #dea239;
    border-color: #dea239;
 }


.btn-orange {
    background: #f17c36;
    border-color: #de7332;
    color: #fff !important;
    font-weight:bold;
}

.btn-orange:hover,
.btn-orange:focus,
.btn-orange:active,
.btn-orange.active {
    background: #b66222;
    border-color: #b66222;
}

.btn-white {
    background: #fff;
    border-color: #828282;
    border-style: dotted;
    color: #000 !important;
    font-weight:normal;
    text-align:left;
    overflow: hidden; text-overflow: ellipsis;
}

.btn-white:hover,
.btn-white:focus,
.btn-white:active,
.btn-white.active {
    background: #f7f7f7;
    border-color: #828282;
    border-style: dotted;
}

.btn-pf {
    background: #A3B56A;
    border-color: #A3B56A;
    color: #fff !important;
    font-weight:bold;
}

.btn-pf:hover,
.btn-pf:focus,
.btn-pf:active,
.btn-pf.active {
    background: #8A965A;
    border-color: #8A965A;
}

.btn-nav {
    background: #d89f29;
    border-color: #d89f29;
    color: #fff !important;
    font-weight:bold;
}

.btn-nav:hover {
    background: #c59227;
    border-color: #c59227;
 }
 
.btn-profile { background: #f8f8f8; color: #000 !important; font-weight:bold; }
.btn-profile:hover,.btn-white:focus,.btn-white:active,.btn-white.active { background: #f2f2f2; }
.btn-follow { background: #0096a9; color: #fff !important; font-weight:bold; }
.btn-follow:hover,.btn-follow:focus,.btn-follow:active { background: #007f8f; }

.nopaddingleft {
   padding-left: 0 !important;
}

.header-left {
   padding-left: 0 !important;
   background-color:#fff;;
}

.header-right {
   position:relative;height:100%; 
}

.hr-container {
    position:absolute;
    bottom:20px;
    right:0;
    width:100%;
    text-align: right;
}


.inner-div { padding:20px;}
.inner-div10 { padding:10px;}
.inner-div-search { padding:0px 10px 20px 10px;}



.row-removepadding {
    margin-left: 0;
    margin-right: 0;
}




.title {font-family:Helvetica,sans-serif;font-size:24px;font-weight:bold;color:#fff;text-decoration:none;padding-bottom:10px;margin-left:15px;}
.titleSmall {font-family:Helvetica,sans-serif;font-size:14px;font-weight:bold;color:#fff;text-decoration:none;margin-right:15px;}

.gridhome{
    height:210px;
    background:#33aab9; 
    padding:10px; 
}

.gridhome .inner { height:100%;background:#ffffff;padding:10px;}

.gridhome a.boxtitle, .gridhome h2{font-family:Helvetica,sans-serif;font-size:20px;font-weight:bold;color:#f17c36;text-decoration:none;margin-top:2px;margin-bottom:0px;}
.gridhome a.boxtitle:hover {text-decoration:underline;}



.sprite {
      background-image: url(../images/p4h-sprites.jpg);
      background-repeat: no-repeat;
      background-size: 1062px 100px;
    }

.dogs {background-position: 0 0; width: 112px; height: 100px;position:absolute;bottom:12px;right:10px;z-index:10;}
.cats {background-position: -210px 0; width: 102px; height: 100px;position:absolute;bottom:12px;right:10px;z-index:10;}
.birds {background-position: -113px 0; width: 98px; height: 100px;position:absolute;bottom:12px;right:10px;z-index:10;}
.fish {background-position: -313px 0; width: 143px; height: 100px;position:absolute;bottom:12px;right:10px;z-index:10;}
.horses {background-position: -457px 0; width: 101px; height: 100px;position:absolute;bottom:10px;right:10px;z-index:10;}
.poultry {background-position: -559px 0; width: 92px; height: 100px;position:absolute;bottom:15px;right:15px;z-index:10;}
.rabbits {background-position: -652px 0; width: 89px; height: 100px;position:absolute;bottom:15px;right:15px;z-index:10;}
.reptiles {background-position: -742px 0; width: 96px; height: 100px;position:absolute;bottom:10px;right:10px;z-index:10;}
.rodents {background-position: -840px 0; width: 83px; height: 100px;position:absolute;bottom:15px;right:12px;z-index:10;}
.invertebrates {background-position: -924px 0; width: 140px; height: 100px;position:absolute;bottom:10px;right:12px;z-index:10;}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), 
only screen and (min--moz-device-pixel-ratio: 1.5), 
only screen and (min-resolution: 240dpi) {
.sprite {
    background-image: url(../images/p4h-spritesx2.jpg);
  }
}

.gridhome a.list{color:#2e2e2e;font-family:Helvetica,sans-serif;font-size:14px;font-weight:normal;text-decoration:none;line-height:18px;z-index:20;position:relative;line-height:1.8em;}
.gridhome a.list:hover{color:#000;text-decoration:underline;}
.gridhome .narrow {width:35%;margin-top:15px;float:left;}
.gridhome .medium {width:50%;margin-top:15px;float:left;}
.gridhome .large {width:65%;margin-top:15px;float:left;}


.tab-content a { line-height: 1.8em;}
.breedlist a { line-height: 1.8em;font-size:1em;}
.trunctext {
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
}

#chartDisp {width:95%;}

.btn-file { position: relative; overflow: hidden; }
.btn-file input[type=file] {position: absolute; top: 0; right: 0; min-width: 100%; min-height: 100%; font-size: 100px; text-align: right; filter: alpha(opacity=0); opacity: 0; outline: none; background: white; cursor: pointer; cursor: hand; display: block; }

/*
 * Navbar Colours
 * --------------------------------------------------
 */

.navbar-inverse { background-color: #FCB843; margin-bottom: 0;  padding-top:5px; padding-bottom:5px;border:0; border-radius:0; z-index:888;}
.navbar-inverse .navbar-nav>.active>a:hover,.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus { background-color: #FFE1AD}
.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.open>a,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus{ background-color: #FFE1AD; }
.navbar-inverse .dropdown-menu { background-color: #FCB843;border:0px;border-radius:0;border-top:0px solid #ffe1ad; padding-top:10px; margin-top:0px; padding-bottom:10px;}


.navbar-inverse { border-color: #FFFFFF}
.navbar-inverse .navbar-brand { color: #FFFFFF}
.navbar-inverse a.navbar-brand {padding: 4px 15px 8px; }
.navbar-inverse .navbar-brand:hover { color: #FFFFFF}
.navbar-inverse .navbar-nav>li>a { color: #FFFFFF; font-weight:bold;}
.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus { color: #F17C36}
.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus { color: #F17C36;}
.navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus { color: #F17C36;background-color: #FFE1AD;}


.navbar-inverse .navbar-nav>.dropdown>a .caret { border-top-color: #FFFFFF;}
.navbar-inverse .navbar-nav>.dropdown>a:hover .caret { border-top-color: #F17C36;}
.navbar-inverse .navbar-nav>.dropdown>a .caret { border-bottom-color: #FFFFFF;}
.navbar-inverse .navbar-nav>.dropdown>a:hover .caret { border-bottom-color: #F17C36;}
.navbar-inverse .navbar-nav>.dropdown>a:focus .caret { border-bottom-color: #F17C36;}
.navbar-inverse .navbar-nav>.dropdown>a:focus .caret { border-top-color: #F17C36;}

.navbar-inverse .navbar-nav .open .dropdown-menu > li > a { color: #fff; padding-top:10px;padding-bottom:10px; padding-left:30px;}
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {color: #f17c36; background-color:#ffe1ad;  }

.navbar-inverse .navbar-nav .open .dropdown-menu .divider { background-color: #ffe1ad; }


.navbar-inverse .dropdown-menu>li>a { color: #ffffff;font-weight:bold;padding:12px 50px 12px 20px;}
.navbar-inverse .dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { color: #F17C36; background-color: #ffe1ad;}

.navbar-collapse {border-top: 0px;}


.navbar-inverse .navbar-toggle,
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
background-color: #FCB843;
border-color:#FCB843;

}

/* Center NavPills */

.nav-pills > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
     zoom:1; /* hasLayout ie7 trigger */
}

.nav-pills {
    text-align:center;
}

.nav-pills > li > a {margin-left:1px;margin-right:1px;padding-right:8px;padding-left:8px;}

.orange a,
.orange a:hover {
    background-color: #fcb843;
    color:#fff;
    font-weight:bold;
}

.orange > li.active > a,
.orange > li.active > a:hover,
.orange > li > a:hover,
.orange > li.active > a:focus { 
    background-color: #f5822b;
    color:#fff;
    font-weight:bold;
}


/* Auto Suggestion */

.twitter-typeahead{
    width:100%;
    color:#000;
}

.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
  margin-bottom: 0;
}
.tt-dropdown-menu {
  min-width: 160px;
  background-color: #FFF;
  margin-top: 0px;
  padding: 5px 0;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,.2);
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  -webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius: 0px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
  width:100%;        
}

.tt-hint {color: #BBB; }

.tt-suggestion {
  display: block;
  padding: 3px 20px;
}


.tt-suggestion.tt-cursor {
  color: #FFF;
  background-color: #fcb843;

}

.tt-suggestion.tt-cursor a {
  color: red;
}

.tt-suggestion p {
  margin: 0;
}

.tooltip.top .tooltip-inner {
    background-color:#0096a9;
    font-size: 1.2em;
    max-width: 350px;
    line-height:1.5em;
}
.tooltip.top .tooltip-arrow {
      border-top-color:#0096a9;
}



/*
 * Featured/latest articles on homepage
 * --------------------------------------------------
 */
.latestAdverts a {text-decoration:none;}

.col-item
{
    border: 0px solid #E1E1E1;
    border-radius: 3px;
}

.col-item a { text-decoration:none;}
.col-item .photo img
{
    margin: 0 auto;
    width: 100%;
    border-radius: 3px 3px 0px 0px;
}

.col-item .info
{
    background: #FFF;
    padding: 0px;
    height:100px;
    border-radius: 0 0 3px 3px;
}

.col-item .photocontainer {padding-bottom:75%;height:0;position:relative;background:#fff;border-radius:3px 3px 0 0;}
.col-item .photoinner {position:absolute;display:block;padding:0;width:100%;height:100%;}

.col-item .info .headline
{
   padding: 0px 10px 0px 10px;color:#2e2e2e;font-family:Helvetica,sans-serif;font-size:14px;font-weight:bold;text-decoration:none;line-height:18px;padding-top:8px;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 3;-webkit-box-orient: vertical;
   
}

.col-item .info .listingheadline
{
   margin-top:0px;margin-bottom:0px; padding: 0px 10px 0px 10px;color:#2e2e2e;font-family:Helvetica,sans-serif;font-size:14px;font-weight:bold;text-decoration:none;line-height:18px;padding-top:8px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;
   
}

.col-item .info .posted
{
   padding: 10px 10px 0px 10px;color:#B8B8B8;font-family:Helvetica,sans-serif;font-size:12px;font-weight:bold;font-style:normal;line-height:18px;
}

.col-item .info .location
{
   padding: 5px 10px 0px 10px;color:#007f8f;font-family:Helvetica,sans-serif;font-size:13px;font-weight:bold;font-style:normal;line-height:18px;
}

.col-item .info .price
{
   position: absolute; bottom:25px; padding-left:10px; color:#f17c36;font-family:Helvetica,sans-serif;font-size:20px;font-weight:bold;font-style:normal;line-height:20px;
}


.col-item h3 {
    padding: 10px;
    font-size:14px;
    margin-top:0px;
}


/*
 * Latest/featured adverts on normal white pages
 * --------------------------------------------------
 */

.latest-item
{
    border: 1px solid #ccc;
    border-radius: 3px;
    background: #eee;
}
.latest-item .photo img
{
    margin: 0 auto;
    width: 100%;
    border-radius: 3px 3px 0px 0px;
}

.latest-item .info
{
    padding: 10px;
    height:100px;
    border-radius: 0 0 3px 3px;
   background: #eee;
}

.latest-item .info .headline
{
   color:#2e2e2e;font-family:Helvetica,sans-serif;font-size:14px;font-weight:bold;text-decoration:none;line-height:18px;padding-top:8px;
}

.latest-item .info .posted
{
   color:#999;font-family:Helvetica,sans-serif;font-size:12px;font-weight:bold;font-style:normal;line-height:18px; 
}

.latest-item h3 {
    font-size:14px;
    margin-top:0px;
}

.petlisting {width:100%;position:relative;background:#fff;padding:20px 0px 20px 0px;border-bottom:1px solid #DADADA;overflow:hidden;font-family:Helvetica,Arial,sans-serif;}
.petlisting:hover {background:#eee;}
.petlisting-left {float:left;position:relative;width:25%;display:block;}
.petlisting-thumbnail img {width:100%;}
.petlisting-content {float:left;width:75%;padding-left:10px;position:relative;}
.petlisting-title {font-size:17px;font-weight:bold;color:#f17c36;}
.petlisting-content h2 {margin-top:0px;margin-bottom:5px;}
.petlisting-title a {font-weight:bold;color:#f17c36;text-decoration:none;}
.petlisting-title a:visited {text-decoration:none;}
.petlisting-title a:hover {text-decoration:underline;}
.petlisting-price {font-size:22px;font-weight:bold;color:#000;}
.petlisting-location {font-size:14px;color:#000;line-height:20px;}
.petlisting-description { width:100%; padding-top:15px;line-height:18px;text-align:justify;font-size:14px;}
.petlisting-description img {float:right; margin-left: 1.5em;margin-bottom:1em; background-color:#fff;padding:3px;border:1px solid #ccc;}
.petlisting-updated{line-height:19px;font-size:12px;font-weight:bold;}

.SolidLine {height:1px;border-bottom:1px solid #C2C2C2; margin-top:10px;}
.advertboxcontainer {width:100%;position:relative;}
.advertbox {background:#fff;padding:20px 0px 20px 0px;border-bottom:1px solid #DADADA;overflow:hidden;font-family:Helvetica,Arial,sans-serif;}
.advertbox:hover {background:#eee;}
.advertbox .advertbody {float:left;width:75%;padding-left:10px;position:relative;}
.advertbox .adverttitlewrap {width:100%;}
.advertbox .headline {font-size:17px;font-weight:bold;color:#f17c36;}
.advertbox .headline a {font-weight:bold;color:#f17c36;text-decoration:none;}
.advertbox .headline a:visited {text-decoration:none;}
.advertbox .headline a:hover {text-decoration:underline;}
.advertbox:hover .photodisp {visibility:visible;}

.advertbox .price {font-size:22px;font-weight:bold;color:#000;}
.advertbox .location {font-size:14px;color:#000;line-height:20px;}
.advertbox .description{ width:100%; padding-top:15px;line-height:18px;text-align:justify;font-size:14px;}
.advertbox .description img {float:right; margin-left: 1.5em;margin-bottom:1em; background-color:#fff;padding:3px;border:1px solid #ccc;}
.advertbox .updated{line-height:19px;font-size:12px;font-weight:bold;}

.advertbox .articlebody {float:left;width:750px;margin-left:10px;position:relative;}
.advertbox .articledescription { width:100%; padding-top:15px;line-height:18px;text-align:justify;font-size:14px;}
.advertbox .articledescription a{line-height:18px;font-size:14px;font-weight:bold;color:#f17c36;}

.advertbox .insurance {float:right;}
.advertbox .insurance a {color:#fff;background:#fcb843;text-decoration:none;text-align:right;font-size:12px;font-weight:bold;padding:3px 6px;}
.advertbox:hover .insurance a{background:#f17c36;}

.advertboxad {background:#fff;padding:20px 0px 20px 0px;border-bottom:1px solid #DADADA;overflow:hidden;font-family:Helvetica,Arial,sans-serif;}
.advertboxad:hover {background:#fff;}

.sponsorbox {background:#fff;padding:20px 0px 20px 0px;border-bottom:1px solid #DADADA;overflow:hidden;font-family:Helvetica,Arial,sans-serif;}
.sponsorbox .notice {top:-10px; font-size:10px;}

.manageboxcontainer {width:100%;margin-bottom:20px;position:relative;}
.managebox {background:#ffffff;padding:10px;border:1px solid #DADADA;overflow: hidden;font:10pt Arial,Helvetica,sans-serif;}
.managebox:hover {background:#ededed;}
.managebox .title {font-family:Helvetica,Arial,sans-serif;font-size:18px;font-weight:bold;color:#f17c36;}


.managewrapper {width:100%;margin-top:20px;position:relative;}
.photowrapper {float:left;position:relative;width:25%;display:block;}
.photowrapper img {width:100%;}
.photowrapper .awaiting {width:80%;}
.photowrapper a {text-decoration:none;}
.photodisp {position:absolute;bottom:5px;right:0px;width:80px;visibility:hidden;height:24px;background:#fff;opacity:0.8;filter: alpha(opacity = 80);font: bold 12px Helvetica, sans-serif;color:#000;text-align:center;line-height:24px;}
.advertdetails {float:left;margin-left:10px;}
.advertdetails ul {list-style-type: none;}
.advertdetails li {line-height:18px;}
.advertactions {width:200px;float:right;}

.photoopacity {opacity:0.4;filter: alpha(opacity = 40);}

.breedprofile-card {
position:relative;
background-color:#ddd;
height:100%;
padding:0px; 
margin-bottom:15px;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}

.breedprofile-card .inner { 

height:100%;
color:#000;
background:#f2f2f2;
line-height:30px;
padding:10px 10px 0px 10px;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}

.breedprofile-card img { -webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;}

.breedprofile-card .inner:hover { 
background:#ededed;
}

.breedprofile-card .managebuttons {margin-bottom:10px;}

.breedprofile-card .inner .title {margin:0; font-size:17px;font-weight:bold;color:#000;}

.breedprofile-card .inner .title a:hover, .breedprofile-card .inner .title a:visited, .breedprofile-card .inner .title a:link, .breedprofile-card .inner .title a:active  {
  color: black;
}

.breed-image {width:100%;}


/* Pagination Styles */
.paginate {font:normal 12pt Helvetica, sans-serif;}
a.paginate {font: bold 12pt helvetica, sans-serif;padding: 7px 7px 7px 7px;color: #FFF;background:#f17c36;text-decoration:none;}
a.paginate:hover {background-color: #fcb843;color: #FFF;text-decoration: underline;}
a.paginate:visited {color:#fff;}
a.current {font: bold 12pt Helvetica,sans-serif;padding: 7px 7px 7px 7px;cursor: default;background:#74C2E1;color: #FFF;text-decoration: none;}
span.inactive {font: bold 12pt Helvetica,sans-serif;padding: 7px 7px 7px 7px;color: #FFF;cursor: default;background:#C2C2C2;}

/* Advert Page - thumbnails carousel */
.carousel-control {
  padding-top:10%;
  width:30px;
}



.col {
  padding-right:4px;
  padding-left:4px;
}



/*
 * adsense responsive
 */


.responsive-pets4homes-top-leaderboard { width: 100%; height: 100px; }


.form-control-inline {
    min-width: 0;
    width: auto;
    display: inline;
}

.carousel-control.left, .carousel-control.right {
    background-image: none
}

.carousel-indicators li {
  background-color: #0096a9;
  border-color: #0096a9;
}
.carousel-indicators .active {
  background-color: #FF7600;
  border-color: #FF7600;
}

.thumbs img {
    opacity: 0.7;
    filter: alpha(opacity=70);
}

.thumbs .active {
    opacity: 1;
    filter: alpha(opacity=100);
}

.thumbs img:hover {
    opacity: 1;
    filter: alpha(opacity=100);
}

.carousel-indicators {
 bottom:0px;
}

.indicatorscontainer {
  position:relative;
  height:40px;

}


.indicator-margin {
   margin-bottom:40px;
}

.caro-image {

/*  height:413px;
* line-height: 413px;
*   align:center;
*/
    display: inline-block;
    position: relative;
    width: 100%;
}

.caro-image img {
    position:absolute;
    top:0;
    bottom:0;
    left: 0;  
    right: 0;
    margin:auto; 
    
}

.imgcontainer {
    display: inline-block;
    position: relative;
    width: 100%;
}
.imgdummy {
    padding-top: 75%; /* 3:2 aspect ratio */
    background:#eee;
}
.imgelement {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-auto;
    background-color: silver /* show me! */
}

#largeCarousel{background:#eee;}

.display_article {margin-bottom:30px;}
.display_article ul{font-size:16px;}
.display_article ol{font-size:16px;}
.display_article li { font-family:Helvetica, Arial, sans-serif;margin-left: 1.5em;  padding-left: 1em; list-style-position: outside; padding-top:3px; line-height: 1.4em; text-align:justify;}
.display_article p {margin-top:20px; font-family: Helvetica, Arial, sans-serif; font-size:16px;line-height: 1.5; color: #000;} 
.display_article q {font-weight:bold; font-family: Helvetica, Arial, sans-serif; font-size:16px;line-height: 1.5; color: #000;}
.display_article h2 {    
    font-family: "VAG Rounded", "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
    font-size:24px;   
    font-weight: Bold;
    color: #000;
    margin-top:35px;
    margin-bottom:5px;
} 

.display_article h3 {    
    font-family: "VAG Rounded", "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
    font-size:16px;   
    font-weight: Bold;
    color: #000;
    margin-top:25px;
    margin-bottom:5px;
} 

.innerjustify {padding:0px;}
.innerjustify p{text-align:justify;}


.btn-social{position:relative;padding-left:44px;text-align:left;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}.btn-social>:first-child{position:absolute;left:0;top:0;bottom:0;width:32px;line-height:34px;font-size:1.6em;text-align:center;border-right:1px solid rgba(0,0,0,0.2)}
.btn-social.btn-lg{padding-left:61px}.btn-social.btn-lg :first-child{line-height:45px;width:45px;font-size:1.8em}
.btn-social.btn-sm{padding-left:38px}.btn-social.btn-sm :first-child{line-height:28px;width:28px;font-size:1.4em}
.btn-social.btn-xs{padding-left:30px}.btn-social.btn-xs :first-child{line-height:20px;width:20px;font-size:1.2em}
.btn-social-icon{position:relative;padding-left:44px;text-align:left;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;height:34px;width:34px;padding:0}.btn-social-icon>:first-child{position:absolute;left:0;top:0;bottom:0;width:32px;line-height:34px;font-size:1.6em;text-align:center;border-right:1px solid rgba(0,0,0,0.2)}
.btn-social-icon.btn-lg{padding-left:61px}.btn-social-icon.btn-lg :first-child{line-height:45px;width:45px;font-size:1.8em}
.btn-social-icon.btn-sm{padding-left:38px}.btn-social-icon.btn-sm :first-child{line-height:28px;width:28px;font-size:1.4em}
.btn-social-icon.btn-xs{padding-left:30px}.btn-social-icon.btn-xs :first-child{line-height:20px;width:20px;font-size:1.2em}
.btn-social-icon :first-child{border:none;text-align:center;width:100% !important}
.btn-social-icon.btn-lg{height:45px;width:45px;padding-left:0;padding-right:0}
.btn-social-icon.btn-sm{height:30px;width:30px;padding-left:0;padding-right:0}
.btn-social-icon.btn-xs{height:22px;width:22px;padding-left:0;padding-right:0}
.btn-adn{color:#fff;background-color:#d87a68;border-color:rgba(0,0,0,0.2)}.btn-adn:hover,.btn-adn:focus,.btn-adn:active,.btn-adn.active,.open>.dropdown-toggle.btn-adn{color:#fff;background-color:#ce563f;border-color:rgba(0,0,0,0.2)}
.btn-adn:active,.btn-adn.active,.open>.dropdown-toggle.btn-adn{background-image:none}
.btn-adn.disabled,.btn-adn[disabled],fieldset[disabled] .btn-adn,.btn-adn.disabled:hover,.btn-adn[disabled]:hover,fieldset[disabled] .btn-adn:hover,.btn-adn.disabled:focus,.btn-adn[disabled]:focus,fieldset[disabled] .btn-adn:focus,.btn-adn.disabled:active,.btn-adn[disabled]:active,fieldset[disabled] .btn-adn:active,.btn-adn.disabled.active,.btn-adn[disabled].active,fieldset[disabled] .btn-adn.active{background-color:#d87a68;border-color:rgba(0,0,0,0.2)}
.btn-adn .badge{color:#d87a68;background-color:#fff}
.btn-facebook{color:#fff;background-color:#3b5998;border-color:rgba(0,0,0,0.2)}.btn-facebook:hover,.btn-facebook:focus,.btn-facebook:active,.btn-facebook.active,.open>.dropdown-toggle.btn-facebook{color:#fff;background-color:#2d4373;border-color:rgba(0,0,0,0.2)}
.btn-facebook:active,.btn-facebook.active,.open>.dropdown-toggle.btn-facebook{background-image:none}
.btn-facebook.disabled,.btn-facebook[disabled],fieldset[disabled] .btn-facebook,.btn-facebook.disabled:hover,.btn-facebook[disabled]:hover,fieldset[disabled] .btn-facebook:hover,.btn-facebook.disabled:focus,.btn-facebook[disabled]:focus,fieldset[disabled] .btn-facebook:focus,.btn-facebook.disabled:active,.btn-facebook[disabled]:active,fieldset[disabled] .btn-facebook:active,.btn-facebook.disabled.active,.btn-facebook[disabled].active,fieldset[disabled] .btn-facebook.active{background-color:#3b5998;border-color:rgba(0,0,0,0.2)}
.btn-facebook .badge{color:#3b5998;background-color:#fff}
.btn-google-plus{color:#fff;background-color:#dd4b39;border-color:rgba(0,0,0,0.2)}.btn-google-plus:hover,.btn-google-plus:focus,.btn-google-plus:active,.btn-google-plus.active,.open>.dropdown-toggle.btn-google-plus{color:#fff;background-color:#c23321;border-color:rgba(0,0,0,0.2)}
.btn-google-plus:active,.btn-google-plus.active,.open>.dropdown-toggle.btn-google-plus{background-image:none}
.btn-google-plus.disabled,.btn-google-plus[disabled],fieldset[disabled] .btn-google-plus,.btn-google-plus.disabled:hover,.btn-google-plus[disabled]:hover,fieldset[disabled] .btn-google-plus:hover,.btn-google-plus.disabled:focus,.btn-google-plus[disabled]:focus,fieldset[disabled] .btn-google-plus:focus,.btn-google-plus.disabled:active,.btn-google-plus[disabled]:active,fieldset[disabled] .btn-google-plus:active,.btn-google-plus.disabled.active,.btn-google-plus[disabled].active,fieldset[disabled] .btn-google-plus.active{background-color:#dd4b39;border-color:rgba(0,0,0,0.2)}
.btn-google-plus .badge{color:#dd4b39;background-color:#fff}
.btn-pinterest{color:#fff;background-color:#cb2027;border-color:rgba(0,0,0,0.2)}.btn-pinterest:hover,.btn-pinterest:focus,.btn-pinterest:active,.btn-pinterest.active,.open>.dropdown-toggle.btn-pinterest{color:#fff;background-color:#9f191f;border-color:rgba(0,0,0,0.2)}
.btn-pinterest:active,.btn-pinterest.active,.open>.dropdown-toggle.btn-pinterest{background-image:none}
.btn-pinterest.disabled,.btn-pinterest[disabled],fieldset[disabled] .btn-pinterest,.btn-pinterest.disabled:hover,.btn-pinterest[disabled]:hover,fieldset[disabled] .btn-pinterest:hover,.btn-pinterest.disabled:focus,.btn-pinterest[disabled]:focus,fieldset[disabled] .btn-pinterest:focus,.btn-pinterest.disabled:active,.btn-pinterest[disabled]:active,fieldset[disabled] .btn-pinterest:active,.btn-pinterest.disabled.active,.btn-pinterest[disabled].active,fieldset[disabled] .btn-pinterest.active{background-color:#cb2027;border-color:rgba(0,0,0,0.2)}
.btn-pinterest .badge{color:#cb2027;background-color:#fff}
.btn-twitter{color:#fff;background-color:#55acee;border-color:rgba(0,0,0,0.2)}.btn-twitter:hover,.btn-twitter:focus,.btn-twitter:active,.btn-twitter.active,.open>.dropdown-toggle.btn-twitter{color:#fff;background-color:#2795e9;border-color:rgba(0,0,0,0.2)}
.btn-twitter:active,.btn-twitter.active,.open>.dropdown-toggle.btn-twitter{background-image:none}
.btn-twitter.disabled,.btn-twitter[disabled],fieldset[disabled] .btn-twitter,.btn-twitter.disabled:hover,.btn-twitter[disabled]:hover,fieldset[disabled] .btn-twitter:hover,.btn-twitter.disabled:focus,.btn-twitter[disabled]:focus,fieldset[disabled] .btn-twitter:focus,.btn-twitter.disabled:active,.btn-twitter[disabled]:active,fieldset[disabled] .btn-twitter:active,.btn-twitter.disabled.active,.btn-twitter[disabled].active,fieldset[disabled] .btn-twitter.active{background-color:#55acee;border-color:rgba(0,0,0,0.2)}
.btn-twitter .badge{color:#55acee;background-color:#fff}

.totalcount {font-size:30px;font-weight:bold;line-height:30px}
.socialcolfirst {padding-right:4px;}
.socialcol {padding-right:4px; padding-left:4px;}
.total {font-size:14px;color:#b66222;}
.socialsharing{padding:12px 10px 12px 10px;border-top:2px solid #eee;border-bottom:2px solid #eee;margin-top:10px;margin-bottom:30px;}
.advicesearchbar{padding:12px 10px 12px 10px;border-top:2px solid #eee;border-bottom:2px solid #eee;margin-top:10px;margin-bottom:30px;}

.related-articles {background:#fff;}
.related-articles .grey{background:#eee;}
.related-articles .articlerow {width:100%;clear:both;padding-top:10px;}
.related-articles .articlenum {width:10%;font-family: "VAG Rounded", "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;font-weight:bold;font-size:28px;color: #b66222;float:left;}
.related-articles .articleimage {width:30%; float:left;}
.related-articles .articledetails {width:60%; float:left;padding-left:10px; }
.related-articles h2 {font-size:22px; font-weight: Bold;margin-top:0px;margin-bottom:20px;}
.related-articles a {font-size:14px; color: #b66222; font-family: "VAG Rounded", "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif; font-weight: Bold;text-decoration:none;}
.related-articles a:hover {text-decoration:underline;}

.related-articles-new {background:#fff;}
.related-articles-new .grey{background:#fff;}
.related-articles-new .articlerow {width:100%;clear:both;padding-top:10px;}
.related-articles-new .articleimage {width:50%; float:left;}
.related-articles-new .articledetails {width:50%; float:left; padding-left:10px;}
.related-articles-new .articleposted {width:50%; float:left; font-size:14px; color:#999; padding-left:10px;}
.related-articles-new h2 {font-size:22px; font-weight: Bold;margin-top:0px;margin-bottom:20px;}
.related-articles-new a {font-size:14px; color: #b66222; font-family: "VAG Rounded", "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif; text-decoration:none;}
.related-articles-new a:hover {text-decoration:underline;}


/* Register Box */
.registerboxcontainer {width:100%;position:relative;margin:30px auto; }
.registerboxcontainer a {text-decoration:none;}
.registerbox {background:#fff;padding:18px;border:5px solid #DADADA;overflow:hidden;font-family:Helvetica,Arial,sans-serif;}
.registerbox:hover {background:#eee;}
.registerbox .header {font-size:18px;font-weight:bold;color:#f17c36;text-decoration:none;}
.registerbox .dspbody {float:left;width:100%;margin-top:20px;position:relative;font-size:14px;font-weight:normal;color:#000;}


.fontfields {font-size:16px;}

.row .no-pad:not(:first-child),.row .no-pad:not(:last-child) {
  padding-right:0;
  padding-left:0;
}

#log{ margin:0; padding:0; width:100%;position:relative;list-style-type: none;}
#log .inner {padding:10px;}
#log .inner-image {position:relative;width:0%; min-height:100px}

.progress {
  margin-bottom: 15px;
  background-color: #eee;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.progress-bar {

  transition-duration: 2s;
}

.fileinput-button {
  position: relative;
  overflow: hidden;
}
.fileinput-button input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  -ms-filter: 'alpha(opacity=0)';
  font-size: 200px;
  direction: ltr;
  cursor: pointer;
}

.imageupload-col {
  padding-right:3px;
  padding-left:3px;
}

/* Fixes for IE < 8 */
@media screen\9 {
  .fileinput-button input {
    filter: alpha(opacity=0);
    font-size: 100%;
    height: 100%;
  }
}

.fileupload {opacity: 0.8; filter: alpha(opacity=80);}
.upload-thumbnails {border-radius: 3px;}

.icongrey{color:#9f9f9f;}

.price {font-size:2em;font-weight:bold;padding-bottom:10px;}

.contactbox {padding:15px;background:#ffe1ad;position:relative;}
.contactbox .title {font-family: Passion One, Helvetica, san-serif; font-size:28px;color:#f17c36;line-height:90%;margin-left:0px;}
.contactbox .location {font-size:1em;color:#333;line-height:22px;margin-bottom:10px;font-weight:bold;}
.contactbox .tel {font-size:14px;color:#333;line-height:22px;margin-top:10px;width:100%;float:left;}
.contactbox .tel b{font-size:18px;}
.contactbox hr {color: #fbca76;background-color: #fbca76;height: 1px;margin-bottom:20px;}
.contactbox .username {font-family: Helvetica Neue, Helvetica, Arial, sans-serif; font-size: 16px; font-style: normal; font-variant: normal; font-weight: bold; color: #404040; line-height: 20px;padding-top:4px; }
.contactbox .username a { text-decoration: none; color: #404040; }
.contactbox .username a:hover { text-decoration:underline;}
.contactbox .profilecontainer {position:absolute;}
.contactbox .profilename {font-family: Helvetica Neue, Helvetica, Arial, sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: normal; color: #606060; height:24px; line-height: 20px;padding-top:4px; width:100%;position:relative;overflow: hidden;}
.contactbox .profilename a { text-decoration: none; color: #606060; }
.contactbox .profilename a:hover { text-decoration:underline;}

.btn-responsive {
    padding:14px 4px;
    font-size:1.2em;
    line-height: 1;
    border-radius:4px;
}

.paddingleftmobile {padding-left:15px;}


.insurancerow {padding-top:20px;padding-bottom:20px;}
.insuranceheader{padding-top:20px;padding-bottom:20px;background-color:#fcb843;color:#fff;font-weight:bold;}
.insurancerow:hover {background-color:#ffe1ad;}
.rowwhite {background-color:#fff;}
.rowgrey {background-color:#eee;}
.rowfirst {background-color:#ffe1ad;}


.dashboard {
height:200px;
background-color:#fff;
padding:10px; 
}

.dashboard .inner { 
height:100%;
color:#000;
background:#eee;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
padding:10px;
}

.dashboard .inner .brownicons { color:#d6a479;font-size:4em;}

.dashboard .inner:hover { 
background:#ccc;
color:#b66222;
}

.dashboard .inner:hover .brownicons { color:#b66222; }

.dashboard .inner .title {font-size:20px;font-weight:bold;color:#000;padding-top:10px;}


.manageadvert {
position:relative;
background-color:#ddd;
height:100%;
padding:0px; 
margin-bottom:25px;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}

.manageadvert .inner { 

height:100%;
color:#000;
background:#ddd;
line-height:30px;
padding:10px;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}

.manageadvert img { -webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;}

.manageadvert .inner:hover { 
background:#ccc;
}

.manageadvert .managebuttons {margin-bottom:7px;margin-top:7px;}

.manageadvert .inner .title {margin:0;font-size:20px;font-weight:bold;color:#000;}

.manageadvert .overimage {position:absolute; right:5px; bottom:5px; font-size:14px;padding:5px;}

.manageadvert hr {background:#ccc;height:1px;margin:10px 5px 10px 5px;}

.status {font-size:0.9em;}

.ad_mobiletop { display:inline-block; width: 320px; margin-bottom: 25px; }
.advertDetailsAd { text-align: center; }
.ad_searchmiddle { display:none; }
.ad_searchbottom { display:inline-block; width: 100%; margin-bottom: 25px; margin-top:25px;text-align: center;}


#loading {
/* overlay is hidden before loading */
display:none;
width:90%;
height:400px;
border:10px solid rgba(82, 82, 82, 0.498);
position:relative;
background-color:#fff;
z-index:999;
}
 
#loading div {
margin-top:25%;
text-align:center;
background-color:#fff;
font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-size:18px;font-weight:bold;
}

.dsptl {
direction: rtl; 
unicode-bidi: bidi-override;
}

.icons-ul{list-style:none;padding: 0;}
.icons-ul>li {position:relative; margin:0 0 30px 0}
.icons-ul>li span{position:relative; display:inline-block; padding-left:40px;}
.icons-ul>li i{position:absolute;  top:30%;}
.orange-icon {color:#f5822b;}

.favButton {
cursor : pointer;

}

  .navbar-brand {
        position: absolute;
        left: 50%;
        display: block;
        top:6px;
        text-align: center;
  }

.navbar-brand-lg {margin-left:-125px;width: 220px;}
.navbar-brand-sm {margin-left:-45px;width: 60px;}

  .sidemenu-brand {
        position: absolute;
        left: 50%;
        display: block;
        width: 190px;
        top:35px;
        text-align: center;
        margin-left:-100px;
  }

.sidemenu {list-style-type: none;margin:0;padding:5px;}
.sidemenu > ul {width:100%;margin:0;}
.sidemenu > li > a { color: #fff; margin:0; padding-top:10px;padding-bottom:10px; padding-left:20px; display:block;font-weight:bold;}
.sidemenu > li > a:hover,
.sidemenu > li > a:focus {color: #fff; background-color:#fcb843;text-decoration:none;  }
.sidemenu > .active > a,
.sidemenu > .active > a:hover,
.sidemenu > .active > a:focus {color: #fff; background-color:#fcb843;text-decoration:none;  }


.margin-right-10 { margin-right:10px;}


.menunav {
  background: #002e34;
  display: block;
  height: 100%;
  overflow: auto;
  position: fixed;
  left: -16em;
  font-size: 16px;
  top: 0;
  width: 16em;
  z-index: 2000;
  
  transition: left 0.2s ease-in-out 0s;
  -webkit-transition: left 0.2s ease-in-out 0s;
  -moz-transition: left 0.2s ease-in-out 0s;
  -o-transition: left 0.2s ease-in-out 0s;

}


.nav-expanded .menunav {
  left: 0em;
}


body.nav-expanded {
  margin-left: 0em;
  transition: right 0.4s ease-in-out 0s;
  -webkit-transition: right 0.4s ease-in-out 0s;
  -moz-transition: right 0.4s ease-in-out 0s;
  -o-transition: right 0.4s ease-in-out 0s;
}

.toggle {
  color: #FFFFFF;
  cursor: pointer;
  font-size: 2em;
  position: absolute;
  top: 15px;
  margin-left:10px;

}


.moveright {margin-left:265px;}

.headerunit { background-color:#007f8f; padding-top:15px; padding-bottom:15px; }
.greysection { background-color:#eeeeee; padding-top:15px; padding-bottom:15px; }
.greysectionsearch { background-color:#f5f5f5; padding:25px 0px 25px 0px; }
.whitesection { background-color:#fff; padding-top:30px; padding-bottom:30px; }
.bluesection { background-color:#0096a9; padding-top:30px; padding-bottom:20px; }
.activitymenusection { background-color:#0096a9; color:#fff; padding-top:0px; padding-bottom:0px; }
.activitymenusection a {font-weight:normal;color:#fff;text-decoration:none;}

.activityitem:after {
    content:'';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -10px;
    margin-top: -10px;
    width: 0;
    height: 0;
    border-bottom: solid 10px #eee;
    border-left: solid 10px transparent;
    border-right: solid 10px transparent;
}

.activityitem > a {font-weight:bold;color:#fff;text-decoration:none;}

input.faChkRnd, input.faChkSqr {
  visibility: hidden;
}

input.faChkRnd:checked:after, input.faChkRnd:after,
input.faChkSqr:checked:after, input.faChkSqr:after {
  visibility: visible;
  font-family: FontAwesome;
  font-size:25px;height: 17px; width: 17px;
  position: relative;
  top: -6px;
  left: 10px;
  display: inline-block;
}

input.faChkRnd:checked:after {
  content: '\f058';
}

input.faChkRnd:after {
  content: '\f10c';
}

input.faChkSqr:checked:after {
  content: '\f14a';
  color:#0096a9;
}

input.faChkSqr:after {
  content: '\f096';
  color:#000;
}

.checkbox {
 padding-left:4px;
 padding-bottom:4px;
}

.checkbox label{
 top:0px; 
 left:0px;
 position:relative;     
}

.checkbox { padding-left: 34px; padding-bottom:6px;}
  
.checkbox label {
    display: inline-block;
    position: relative;
    padding-left: 10px; }
    
.checkbox label::before {
      content: "";
      display: inline-block;
      position: absolute;
      width: 22px;
      height: 22px;
      left: 0;
      margin-left: -20px;
      border: 1px solid #cccccc;
      border-radius: 3px;
      background-color: #fff;
      -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
      -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
      transition: border 0.15s ease-in-out, color 0.15s ease-in-out; }
    
.checkbox label::after {
      display: inline-block;
      position: absolute;
      width: 21px;
      height: 21px;
      left: 0;
      top: 0;
      margin-left: -20px;
      padding-left: 3px;
      padding-top: 0px;
      font-size: 16px;
      color: #555555; }
  
.checkbox input[type="checkbox"] {
    opacity: 0; }
    
.checkbox input[type="checkbox"]:focus + label::before {
      outline: thin dotted;
      outline: 5px auto -webkit-focus-ring-color;
      outline-offset: -2px; }
    
.checkbox input[type="checkbox"]:checked + label::after {
      font-family: 'FontAwesome';
      content: "\f00c"; }
    
.checkbox input[type="checkbox"]:disabled + label {
      opacity: 0.65; }
      
.checkbox input[type="checkbox"]:disabled + label::before {
        background-color: #eeeeee;
        cursor: not-allowed; }
  
.checkbox.checkbox-circle label::before {
    border-radius: 50%; }
  
.checkbox.checkbox-inline {
    margin-top: 0; }

.checkbox-success input[type="checkbox"]:checked + label::before {
  background-color: #5cb85c;
  border-color: #5cb85c; }

.checkbox-success input[type="checkbox"]:checked + label::after {
  color: #fff; }

.profileabout {font-family: Helvetica Neue, Helvetica, Arial, sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: normal; line-height: 20px; text-align:justify; overflow-wrap: break-word;}
.profilelisting .description { font-size:14px;margin-top:10px;font-weight:normal;color:#000;display: block;line-height:1.4em;height:40px;position:relative;text-align:justify;overflow: hidden; }

.profilelisting .description:after { content: ""; text-align: right; position: absolute; bottom: 0; right: 0; width: 10%; height: 1.4em; background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 70%); }

.profilelisting .headline { margin:0;font-size:18px;display: block; height:24px; line-height:24px;font-weight:bold;color:#f17c36;position:relative;overflow: hidden; }
.profilelisting .headline:after { content: ""; text-align: right; position: absolute; bottom: 0; right: 0; width: 10%; height: 24px; background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 70%); }
.profilelisting .headline a {font-weight:bold;color:#f17c36;text-decoration:none;}
.profilelisting .headline a:visited {text-decoration:none;}
.profilelisting .headline a:hover {text-decoration:underline;}
.profilelisting .location { line-height:22px;font-size:14px;font-weight:normal;color:#000; }
.profilelisting .categories { position:absolute;bottom:0;padding:10px 0px 10px 0px;font-size:14px; overflow: hidden; }
.profilelisting .categories a { color:black;text-decoration: none; }
.profilelisting .categories a:hover { text-decoration:underline;}
.profilelisting .listingprice { font-family: Helvetica Neue, Helvetica, Arial, sans-serif; font-size: 26px; font-style: normal; font-variant: normal; font-weight: bold;color: black;line-height:48px; }
.profilelisting .username a {font-weight:bold;color:#000;text-decoration:none;}
.profilelisting .pricecolumn {background:#fffdfb;padding:5px 10px 5px 20px;border-right:1px #EEEEEE solid;min-height:60px;border-radius:0 0 0 4px;}
.profilelisting .usercolumn {background-color:white;padding:5px 10px 5px 15px;border-radius:0 0 4px 0;}
.profilelisting .imagecontainer {padding-bottom:75%;height:0;position:relative;}
.profilelisting .imageinner {position:absolute;display:block;padding:0;width:100%;height:100%;}

.breedlisting .description { font-size:14px;margin-top:10px;font-weight:normal;color:#000;display: block;line-height:1.4em;height:40px;position:relative;text-align:justify;overflow: hidden; }
.breedlisting .description:after { content: ""; text-align: right; position: absolute; bottom: 0; right: 0; width: 10%; height: 1.4em; background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 70%); }
.breedlisting .headline { margin:0;font-size:18px;display: block; height:24px; line-height:24px;font-weight:bold;color:#f17c36;position:relative;overflow: hidden; }
.breedlisting .headline:after { content: ""; text-align: right; position: absolute; bottom: 0; right: 0; width: 10%; height: 24px; background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 70%); }
.breedlisting .headline a {font-weight:bold;color:#f17c36;text-decoration:none;}
.breedlisting .headline a:visited {text-decoration:none;}
.breedlisting .headline a:hover {text-decoration:underline;}

.userlisting {border-radius:4px 4px 4px 4px;background:white;padding:20px;}
.userlisting-photo {}
.userlisting .usernameblack a {font-family: Helvetica Neue, Helvetica, Arial, sans-serif; font-size: 16px; font-style: normal; font-variant: normal; font-weight: bold; color: #000; line-height: 20px;padding-top:4px;}
.userlisting .usernamegrey a {font-family: Helvetica Neue, Helvetica, Arial, sans-serif; font-size: 16px; font-style: normal; font-variant: normal; font-weight: bold; color: #979797; line-height: 20px;padding-top:4px;}

.resultImage { float:left; }
.resultName { font-family: Helvetica Neue, Helvetica, Arial, sans-serif; font-size: 14px; font-style: normal; font-variant: normal; text-decoration:none; color: #000; position:relative; height:40px; line-height:40px; display:block; overflow:hidden; }


/*
 * Off Canvas
 * --------------------------------------------------
 */

@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;

    -webkit-transform: translateZ(0) translateX(0);
    transform: translateZ(0) translateX(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

    -webkit-transition: all .3s ease-out;
         -o-transition: all .3s ease-out;
            transition: all .3s ease-out;
  }

  .row-offcanvas-right {
    right: 0;
  }

  .row-offcanvas-left {
    left: 0;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -85%; /* 6 columns */
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -85%; /* 6 columns */
  }

  .row-offcanvas-right.active {
    right: 85%; /* 6 columns */
  }

  .row-offcanvas-left.active {
     -webkit-transform: translateZ(0) translateX(85%);  
     transform: translateZ(0) translateX(85%); 
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 85%; /* 6 columns */
    height: 100%;
    /*margin-left: 10px;*/
    padding-left:20px;  /* Need gap to let of sliders on mobiles  */
    padding-right:20px;
   
  }

  #sidebar {background-color:#0096a9; border-radius:0px;}

  .blue-container {
    background:#0096a9;
    padding-top:0px;
    padding-bottom:0px;
  }

  .paddingHome { padding-top:20px;}


  .white-body h1 { margin-top:10px; font-family: 'Passion One', cursive; -webkit-text-stroke: 0.4px; color:#b66222; font-size:26px;}
  .search-right h1 { font-size:26px;}
  .h1homepage {color:white; font-size:34px;margin:0;}
  .title {font-size:20px;}
  .advertbox .location {font-size:12px;}


  .inner-div { padding:20px 10px 20px 10px;}
  .inner-div-search { padding:20px 10px 20px 10px;}
  .inner-div10 { padding:0px;}
  .innerjustify {padding:0px;}


  .search-left { padding:0px;}

  .margin-right-10 { margin-right:10px;}


    .navbar-inverse .navbar-fixed-top
    {
    position: relative;
    top: auto;
    }

/*.navbar-inverse { background: url(../images/nav-bg-50.gif) repeat; background-size: 50px 50px; background-color: #FCB843; margin-bottom: 0;  border:0; border-radius:0; }*/


.responsive-pets4homes-top-leaderboard { display:none; }
.responsiveheader { display:none; }
.ad_mobiletop { display:inline-block; width: 100%; margin-bottom:10px;}
.ad_searchmiddle { display:inline-block; width: 100%; margin-bottom: 25px; margin-top:25px;text-align: center;}
.searchbottom { width: 100%; height: 250px; }
.searchbottomtext { width: 100%; height: 250px; }
.advert-top { display:inline-block; width: 320px; height: 100px; }
.hideadmobile {display:none;}

.col-item .info
{
   height:120px;
}

.advertbox .headline {font-size:15px;}
.advertbox .advertbody {width:60%;}
.photowrapper {width:40%;}
.petlisting-left {width:40%;}
.petlisting-content {width:60%;}
.petlisting-title {font-size:15px;}

/*
.caro-image {

  height:244px; //IE7fix
  line-height: 244px;
  align:center;
}
*/

.navbar-inverse .navbar-nav .open .dropdown-menu > li > a { color: #fff; }
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {color: #f17c36; background-color:#ffe1ad;  }

.nav-pills { font-size:12px;}

.manageadvert .inner .title {font-size:16px;font-weight:bold;color:#000;}

.headerunit { background-color:#007f8f; padding:0; height:0px;}

.profileimage {text-align:center;padding-bottom:20px;}
.profileheader {text-align:center;}

.profilelisting .pricecolumn {border-right:0px;border-bottom:1px #EEEEEE solid;border-radius:0 0 0 0;}
.profilelisting .usercolumn {border-radius:0 0 4px 4px;}
.profilelisting .headline { margin:0;font-size:15px; line-height:20px;font-weight:bold;color:#f17c36;position:relative; }
.profilelisting .location { line-height:15px;font-size:12px;font-weight:normal;color:#000; }
.breedlisting .description { font-size:12px;font-weight:normal;color:#000;display: block;line-height:1.1em;height:30px;position:relative;overflow: hidden; }
.breedlisting .description:after { content: ""; text-align: right; position: absolute; bottom: 0; right: 0; width: 10%; height: 1.1em; background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 70%); }

.greysectionsearch { padding:0; }
}


@media screen and (min-width:768px){

.inner-div10 { padding:0px;}
.h1homepage {color:white; font-size:42px;margin:0;}
h2 {font-size:22px;}
h3 {font-size:18px;}
.navbar-collapse {padding: 0 !important;}
.navbar-inverse {padding-left: 0 !important;}
.search-left { padding:0px;}
#headerlogo {	height: 40px;}
.logo-padding {padding:10px 15px 0px 0px;}
.img-hero {width:260px; z-index:777;}
.img-hero-all {z-index:777;}



.responsive-pets4homes-top-leaderboard { width:400px; height:100px;}
.responsiveheader {  width:468px; height: 60px; position:absolute; right:0; bottom:20px;}
.ad_mobiletop { display:none; }
.advertDetailsAd { text-align: right; padding-top:25px;}
.searchbottom { width: 100%; height: 280px;} 
.searchbottomtext { width: 100%; height: 250px; }
.advert-top { display:inline-block; width: 100%; height: 100px; }
.hideadmobile {display:block;}

.header-right { height:55px;}


.fontfields {font-size:14px;}

.btn-responsive {padding:8px 4px;font-size:1em;}

.paddingleftmobile {padding-left:30px;}
.contactbox .location {font-size:0.9em;}

.contactbox hr {margin-bottom:10px;margin-top:10px;}


.blue-container {background:#ffffff;padding-top:10px;padding-bottom:10px;}
.paddingHome { background:#0096a9; padding-top:20px;}

.inner-div { padding:20px 10px 20px 10px;}
.inner-div-search { padding:0px 10px 20px 10px;}

.headerunit { background-color:#007f8f; padding-top:15px; padding-bottom:15px; min-height:120px;}

}


@media screen and (min-width:992px){

.h1homepage {color:white; font-size:48px;margin:0;}
h2 {font-size:25px;}
#headerlogo { 	height: 20px;}
.logo-padding {padding:15px 30px 0px 0px;}
.img-hero { width:260px;}



.postadvert {background-color:#0096a9;height:100px;}
.responsive-pets4homes-top-leaderboard { width:600px; height:100px;}
.responsiveheader {  width:728px; height: 90px; position:absolute; right:0; bottom:20px;}
.ad_mobiletop { display:none; }
.advertDetailsAd { text-align: left; padding-top:25px;}
.searchbottom { width: 100%; height: 100px; }
.advert-top { display:inline-block; width: 100%; height: 100px; }
.searchbottomtext { width: 100%; height: 90px; }

.header-right { height:70px;}


.gridhome a.list{font-size:14px;line-height:18px;}
.fontfields {font-size:14px;}

.btn-responsive {padding:14px 4px;font-size:1.2em;}

.contactbox .location {font-size:1em;}
.contactbox hr {margin-bottom:20px;margin-top:20px;}

.blue-container {background:#ffffff;padding-top:20px;padding-bottom:20px;}
.paddingHome { background:#0096a9; padding-top:20px;}

.inner-div { padding:20px 10px 20px 20px;}
.inner-div-search { padding:0px 10px 20px 20px;}

.headerunit { background-color:#007f8f; padding-top:15px; padding-bottom:15px;min-height:120px;}



}




@media screen and (min-width:1200px){

.h1homepage {color:white; font-size:54px;margin:0;}
h2 {font-size:30px;}
#headerlogo { 	height: 20px;}
.logo-padding {padding:15px 60px 0px 0px;}
.img-hero { width:300px;}



.postadvert {background-color:#0096a9;height:100px;}

.responsive-pets4homes-top-leaderboard { width:800px; height:100px;}
.responsiveheader {  width:728px; height: 90px; position:absolute; right:0; bottom:20px;}
.ad_mobiletop { display:none; }
.advertDetailsAd { text-align: center; padding-top:25px;}
.advert-top { display:inline-block; width: 100%; height: 100px; }

.header-right { height:80px;}

.navbar-brand {position: absolute;left: 50%;display: block;top:6px;width:220px;text-align: center;margin-left:-110px;}


.gridhome a.list{font-size:14px;line-height:18px;}
.fontfields {font-size:14px;}

.searchbottom { width: 100%; height: 100px; }
.searchbottomtext { width: 100%; height: 90px; }

.blue-container {background:#ffffff;padding-top:20px;padding-bottom:20px;}
.paddingHome { background:#0096a9; padding-top:20px;}

.inner-div { padding:20px 10px 20px 20px;}
.inner-div-search { padding:0px 10px 20px 20px;}

}





@media print {
  
a[href]:after { content: none; }
.sharing { display:none; } 
.headerunit { display:none; }
.related-articles {display:none;}
.breedlist {display:none;}
.footer {display:none;}
.footersmall {display:none;}
.footerbottom {display:none;}
.socialsharing {display:none;}
.latestDisplay {display:none;}
.printDisplay {display:none;}
}