﻿@{
    ViewBag.Title = "Home Page";
}



<div class="blue-container paddingHome">



    <div class="container">



        <div class="row" style="background-color:#0096a9;padding:0px 15px 0px 15px;">

            <div class="col-xs-12 col-md-9" style="background-color:#0096a9;height:100%;">
                <div class="row">
                    <div class="col-sm-12 searchhome">


                        <h1 class="h1homepage">Find your perfect pet</h1>

                        <p class="hidden-xs">Search through thousands of adverts for dogs, puppies, cats, kittens, horses and <br />other pets for sale in the UK on Pets4Homes</p>
                        <img src="~/images/new_hero2.png" class="img-hero hidden-xs" alt="Dogue De Bordeaux" style="position:absolute;right:0px;bottom:-6px;" />





                        <div class="col-xs-12 col-sm-8" style="background-color:#007f8f;padding-top:20px;padding-bottom:20px;margin-top:10px;">
                            <form method="post">

                                <div class="col-xs-12 col-sm-6">

                                    <div class="form-group">
                                        <label for="pettype">Pet Type</label>

                                        <select id="pettype" class="form-control fontfields" name="type_id">
                                            <option value="" selected="selected">Pet Type (Any)</option>

                                            <option value="1">Birds</option>
                                            <option value="2">Cats</option>
                                            <option value="3">Dogs</option>
                                            <option value="4">Fish</option>
                                            <option value="5">Horses</option>
                                            <option value="10">Invertebrates</option>
                                            <option value="6">Poultry</option>
                                            <option value="7">Rabbits</option>
                                            <option value="8">Reptiles</option>
                                            <option value="9">Rodents</option>
                                        </select>
                                    </div>

                                </div>

                                <div class="col-xs-12 col-sm-6">

                                    <div class="form-group">
                                        <label for="petbreed">Pet Breed</label>

                                        <select id="petbreed" class="form-control fontfields" name="breed_id">
                                            <option value="" selected="selected">Pet Breed (Any)</option>



                                        </select>

                                    </div>

                                </div>

                                <div class="col-xs-12 col-sm-6">

                                    <div class="form-group">
                                        <label for="inputLocation">Location</label>
                                        <input type="text" class="form-control fontfields" name="location" id="inputLocation" autocomplete="off" placeholder="Town or Postcode" />
                                    </div>

                                </div>


                                <div class="col-xs-12 col-sm-6">

                                    <div class="form-group">
                                        <label for="search">&nbsp;</label>
                                        <button type="submit" name="search" id="search" class="btn btn-custom btn-block">Search</button>
                                    </div>

                                </div>

                            </form>
                        </div> <!-- End search box   -->


                    </div> <!-- End of search left -->
                </div> <!-- End of Row -->
            </div>


            <div class="col-md-3 hidden-sm hidden-xs searchhomeright">

                <h1 class="h1homepageright">Advertise your pets for free!</h1>
                <p class="hidden-md">Place your free advert now and rehome your pets quickly with a new family!</p>
                <ul style="margin-top:10px;">
                    <li>Unlimited photos</li>
                    <li>Manage your own ads online</li>
                    <li>Over 5 million visits monthly</li>
                    <li>Ranked UKs most popular pet website</li>
                    <li>UKs safest pet classifieds</li>
                </ul>

                <a class="btn btn-orange btn-block" href="register/index.html">Post New Ad</a>


                <!-- <div class="row" style="height:100%;">
                   <div class="col-md-12" style="background-color:yellow;height:100%;">
                       Test Info
                   </div>
                </div>  -->

            </div>

        </div> <!-- End of Row -->






        <div class="row" style="margin-top:50px;">
            <div class="col-xs-8"><div class="row"><div class="title">Latest Adverts</div></div></div><div class="col-xs-4 text-right"><div class="row"><a href="search/index.html"><div class="titleSmall">View All</div></a></div></div>
        </div>


        <div class="row latestAdverts">

            <a href="classifieds/1815862-kc-registered-champion-bloodlined-akita-puppies-wolverhampton.html"><div class="col-xs-6 col-sm-4 col-md-3" style="padding-bottom:25px;"> <div class="col-item">        <div class="photocontainer">           <div class="photoinner">             <img src="@Url.Content("~/images/classifieds/2018/01/13/1815862/thumbs/kc-registered-champion-bloodlined-akita-puppies-5a6a21243d163.jpg")" class="img-responsive" style="border-radius:3px 3px 0 0;width:100%;" alt="Kc Registered Champion Bloodlined Akita Puppies" />          </div>        </div>        <div class="info"><div class="listingheadline">Kc Registered Champion Bloodlined Akita Puppies</div><div class="location"><i class="fa fa-map-marker fa-md"></i> Wolverhampton</div><div class="price">&pound;950</div>        </div>  </div></div></a><a href="classifieds/1806802-ready-now-show-quality-french-bulldog-puppy-sowerby-bridge.html"><div class="col-xs-6 col-sm-4 col-md-3" style="padding-bottom:25px;"> <div class="col-item">        <div class="photocontainer">           <div class="photoinner">             <img src="@Url.Content("~/images/classifieds/2018/01/03/1806802/thumbs/ready-now-show-quality-french-bulldog-puppy-5a69dba106fd2.jpg")" class="img-responsive" style="border-radius:3px 3px 0 0;width:100%;" alt="Ready Now Show Quality French Bulldog Puppy" />          </div>        </div>        <div class="info"><div class="listingheadline">Ready Now Show Quality French Bulldog Puppy</div><div class="location"><i class="fa fa-map-marker fa-md"></i> Sowerby Bridge</div><div class="price">&pound;2,000</div>        </div>  </div></div></a><a href="classifieds/1799551-beautiful-french-bulldog-puppies-only-1-boy-left-oldham.html"><div class="col-xs-6 col-sm-4 col-md-3" style="padding-bottom:25px;"> <div class="col-item">        <div class="photocontainer">           <div class="photoinner">             <img src="@Url.Content("~/images/classifieds/2017/12/23/1799551/thumbs/beautiful-french-bulldog-puppies-5a5006fd05638.jpg")" class="img-responsive" style="border-radius:3px 3px 0 0;width:100%;" alt="Beautiful French Bulldog Puppies. Only 1 Boy Left" />          </div>        </div>        <div class="info"><div class="listingheadline">Beautiful French Bulldog Puppies. Only 1 Boy Left</div><div class="location"><i class="fa fa-map-marker fa-md"></i> Oldham</div><div class="price">&pound;1,200</div>        </div>  </div></div></a><a href="classifieds/1826214-beautiful-kc-blue-bridle-pups-middlesbrough.html"><div class="col-xs-6 col-sm-4 col-md-3 hidden-sm" style="padding-bottom:25px;"> <div class="col-item">        <div class="photocontainer">           <div class="photoinner">             <img src="@Url.Content("~/images/classifieds/2018/01/25/1826214/thumbs/97698819cbcff114390c11345e8ff02c.jpg")" class="img-responsive" style="border-radius:3px 3px 0 0;width:100%;" alt="Beautiful Kc Blue Bridle Pups" />          </div>        </div>        <div class="info"><div class="listingheadline">Beautiful Kc Blue Bridle Pups</div><div class="location"><i class="fa fa-map-marker fa-md"></i> Middlesbrough</div><div class="price">&pound;600</div>        </div>  </div></div></a>
        </div>   <!-- End of Latest Adverts -->


        <div class="row" style="margin-top:25px;">
            <div class="col-xs-8"><div class="row"><div class="title">Latest Articles</div></div></div><div class="col-xs-4 text-right"><div class="row"><a href="pet-advice/index.html"><div class="titleSmall">Read All</div></a></div></div>
        </div>

        <div class="row">


            <a href="pet-advice/fulfilling-the-border-collies-need-for-exercise-and-stimulation.html"><div class="col-xs-6 col-sm-4 col-md-3 no-pad"> <div class="col-item">        <div class="photocontainer">           <div class="photoinner">             <img src="@Url.Content("~/images/articles/4580/thumbs/fulfilling-the-border-collies-need-for-exercise-and-stimulation-5a69dfbf8ee3e.jpg")" class="img-responsive" style="border-radius:3px 3px 0 0;width:100%;" alt="Fulfilling The Border Collies Need For Exercise And Stimulation" />          </div>        </div>        <div class="info"><div class="posted">Posted 25th Jan</div><div class="headline">Fulfilling The Border Collies Need For Exercise And Stimulation</div>        </div>  </div></div></a><a href="pet-advice/why-does-the-behaviour-of-some-dogs-change-when-they-are-on-the-lead.html"><div class="col-xs-6 col-sm-4 col-md-3 no-pad"> <div class="col-item">        <div class="photocontainer">           <div class="photoinner">             <img src="@Url.Content("~/images/articles/4579/thumbs/why-does-the-behaviour-of-some-dogs-change-when-they-are-on-the-lead-5a69d73ddfe38.jpg")" class="img-responsive" style="border-radius:3px 3px 0 0;width:100%;" alt="Why Does The Behaviour Of Some Dogs Change When They Are On The Lead?" />          </div>        </div>        <div class="info"><div class="posted">Posted 25th Jan</div><div class="headline">Why Does The Behaviour Of Some Dogs Change When They Are On The Lead?</div>        </div>  </div></div></a><a href="pet-advice/introducing-the-kennel-clubs-newest-recognised-dog-breed-the-barbet.html"><div class="col-xs-6 col-sm-4 col-md-3 hidden-xs no-pad"> <div class="col-item">        <div class="photocontainer">           <div class="photoinner">             <img src="@Url.Content("~/images/articles/4578/thumbs/introducing-the-kennel-clubs-newest-recognised-dog-breed-the-barbet-5a68f1c46da54.jpg")" class="img-responsive" style="border-radius:3px 3px 0 0;width:100%;" alt="Introducing The Kennel Clubs Newest Recognised Dog Breed The Barbet" />          </div>        </div>        <div class="info"><div class="posted">Posted 24th Jan</div><div class="headline">Introducing The Kennel Clubs Newest Recognised Dog Breed The Barbet</div>        </div>  </div></div></a><a href="pet-advice/what-type-of-water-should-you-provide-for-your-dog.html"><div class="col-xs-6 col-sm-4 col-md-3 hidden-sm hidden-xs no-pad"> <div class="col-item">        <div class="photocontainer">           <div class="photoinner">             <img src="@Url.Content("~/images/articles/4577/thumbs/what-type-of-water-should-you-provide-for-your-dog-5a685487de92f.jpg")" class="img-responsive" style="border-radius:3px 3px 0 0;width:100%;" alt="What Type Of Water Should You Provide For Your Dog?" />          </div>        </div>        <div class="info"><div class="posted">Posted 24th Jan</div><div class="headline">What Type Of Water Should You Provide For Your Dog?</div>        </div>  </div></div></a>
        </div>



        <div class="row" style="background-color:#33aab9;padding:5px;margin-top:50px;">

            <div class="col-sm-6 col-md-4 gridhome">
                <div class="inner">
                    <a href="sale/dogs/index.html" class="boxtitle"><h2>Dogs for Sale</h2></a>
                    <ul class="list-unstyled narrow">
                        <li><a href="sale/dogs/pug/index.html" title="Pug Dogs for Sale" class="list">Pugs</a></li>
                        <li><a href="sale/dogs/english-bulldog/index.html" title="Bulldogs for Sale" class="list">Bulldogs</a></li>
                        <li><a href="sale/dogs/chihuahua/index.html" title="Chihuahua Dogs for Sale" class="list">Chihuahuas</a></li>
                        <li><a href="sale/dogs/cockapoo/index.html" title="Cockapoo Dogs for Sale" class="list">Cockapoos</a></li>
                        <li><a href="sale/dogs/shih-tzu/index.html" title="Shih Tzu Dogs for Sale" class="list">Shih Tzus</a></li>
                    </ul>
                    <ul class="list-unstyled large">
                        <li><a href="sale/dogs/french-bulldog/index.html" title="French Bulldog Dogs for Sale" class="list">French Bulldogs</a></li>
                        <li><a href="sale/dogs/german-shepherd/index.html" title="German Shepherd Dogs for Sale" class="list">German Shepherds</a></li>
                        <li><a href="sale/dogs/cocker-spaniel/index.html" title="Cocker Spaniel Dogs for Sale" class="list">Cocker Spaniels</a></li>
                        <li><a href="sale/dogs/labrador-retriever/index.html" title="Labrador Dogs for Sale" class="list">Labradors</a></li>
                        <li><a href="sale/dogs/mixed-breed/index.html" title="Mixed Breed Dogs for Sale" class="list">Mixed Breeds</a></li>
                    </ul>
                    <div class="sprite dogs"></div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 gridhome">
                <div class="inner">
                    <a href="sale/cats/index.html" class="boxtitle"><h2>Cats for Sale</h2></a>
                    <ul class="list-unstyled medium">
                        <li><a href="sale/cats/bengal/index.html" title="Bengal Cats for Sale" class="list">Bengals</a></li>
                        <li><a href="sale/cats/birman/index.html" title="Birman Cats for Sale" class="list">Birmans</a></li>
                        <li><a href="sale/cats/british-shorthair/index.html" title="British Shorthair Cats for Sale" class="list">British Shorthairs</a></li>
                        <li><a href="sale/cats/exotic/index.html" title="Exotic Cats for Sale" class="list">Exotics</a></li>
                        <li><a href="sale/cats/norwegian-forest-cat/index.html" title="Norwegian Forest Cats for Sale" class="list">Norwegian Forest</a></li>
                    </ul>
                    <ul class="list-unstyled medium">
                        <li><a href="sale/cats/mixed-breed/index.html" title="Mixed Breed Cats for Sale" class="list">Mixed Breeds</a></li>
                        <li><a href="sale/cats/persian/index.html" title="Persian Cats for Sale" class="list">Persians</a></li>
                        <li><a href="sale/cats/ragdoll/index.html" title="Ragdoll Cats for Sale" class="list">Ragdolls</a></li>
                        <li><a href="sale/cats/siamese/index.html" title="Siamese Cats for Sale" class="list">Siamese</a></li>
                        <li><a href="sale/cats/oriental/index.html" title="Oriental Cats for Sale" class="list">Orientals</a></li>
                    </ul>
                    <div class="sprite cats"></div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 gridhome">
                <div class="inner">
                    <a href="sale/rabbits/index.html" class="boxtitle"><h2>Rabbits for Sale</h2></a>
                    <ul class="list-unstyled narrow">
                        <li><a href="sale/rabbits/british-giant/index.html" title="British Giant Rabbits for Sale" class="list">British Giants</a></li>
                        <li><a href="sale/rabbits/mini-lop/index.html" title="Mini Lop Rabbits for Sale" class="list">Mini Lops</a></li>
                        <li><a href="sale/rabbits/dutch/index.html" title="Dutch Rabbits for Sale" class="list">Dutch</a></li>
                        <li><a href="sale/rabbits/dwarf-lop/index.html" title="Dwarf Lop Rabbits for Sale" class="list">Dwarf Lops</a></li>
                        <li><a href="sale/rabbits/french-lop/index.html" title="French Lop Rabbits for Sale" class="list">French Lops</a></li>
                    </ul>
                    <ul class="list-unstyled medium">
                        <li><a href="sale/rabbits/continental-giant/index.html" title="Continental Giant Rabbits for Sale" class="list">Continental Giants</a></li>
                        <li><a href="sale/rabbits/lionhead/index.html" title="Lionhead Rabbits for Sale" class="list">Lionheads</a></li>
                        <li><a href="sale/rabbits/mixed-breed/index.html" title="Mixed Breed Rabbits for Sale" class="list">Mixed Breeds</a></li>
                        <li><a href="sale/rabbits/netherland-dwarf/index.html" title="Netherland Dwarf Rabbits for Sale" class="list">Netherland Dwarf</a></li>
                        <li><a href="sale/rabbits/rex/index.html" title="Rex Rabbits for Sale" class="list">Rex</a></li>
                    </ul>
                    <div class="sprite rabbits"></div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 gridhome">
                <div class="inner">
                    <a href="sale/horses/index.html" class="boxtitle"><h2>Horses for Sale</h2></a>
                    <ul class="list-unstyled narrow">
                        <li><a href="sale/horses/appaloosa/index.html" title="Appaloosa Horses for Sale" class="list">Appaloosa</a></li>
                        <li><a href="sale/horses/connemara/index.html" title="Connemara Horses for Sale" class="list">Connemara</a></li>
                        <li><a href="sale/horses/irish-draught/index.html" title="Irish Draught Horses for Sale" class="list">Irish Draught</a></li>
                        <li><a href="sale/horses/irish-sports/index.html" title="Irish Sport Horses for Sale" class="list">Irish Sports</a></li>
                        <li><a href="sale/horses/thoroughbred/index.html" title="Thoroughbred Horses for Sale" class="list">Thoroughbred</a></li>
                    </ul>
                    <ul class="list-unstyled medium">
                        <li><a href="sale/horses/belgian-warmblood/index.html" title="Belgian Warmblood Horses for Sale" class="list">Belgian Warmblood</a></li>
                        <li><a href="sale/horses/welsh-section-a/index.html" title="Welsh Section A Horses for Sale" class="list">Welsh Section A</a></li>
                        <li><a href="sale/horses/welsh-section-b/index.html" title="Welsh Section B Horses for Sale" class="list">Welsh Section B</a></li>
                        <li><a href="sale/horses/welsh-section-c/index.html" title="Welsh Section C Horses for Sale" class="list">Welsh Section C</a></li>
                        <li><a href="sale/horses/welsh-section-d/index.html" title="Welsh Section D Horses for Sale" class="list">Welsh Section D</a></li>
                    </ul>
                    <div class="sprite horses"></div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 gridhome">
                <div class="inner">
                    <a href="sale/rodents/index.html" class="boxtitle"><h2>Rodents for Sale</h2></a>
                    <ul class="list-unstyled medium">
                        <li><a href="sale/rodents/chinchilla/index.html" class="list">Chinchilla</a></li>
                        <li><a href="sale/rodents/chipmunk/index.html" class="list">Chipmunk</a></li>
                        <li><a href="sale/rodents/degus/index.html" class="list">Degus</a></li>
                        <li><a href="sale/rodents/ferret/index.html" class="list">Ferret</a></li>
                        <li><a href="sale/rodents/gerbil/index.html" class="list">Gerbil</a></li>
                    </ul>
                    <ul class="list-unstyled medium">
                        <li><a href="sale/rodents/guinea-pig/index.html" class="list">Guinea Pig</a></li>
                        <li><a href="sale/rodents/hamster/index.html" class="list">Hamster</a></li>
                        <li><a href="sale/rodents/mouse/index.html" class="list">Mouse</a></li>
                        <li><a href="sale/rodents/rat/index.html" class="list">Rat</a></li>
                        <li><a href="sale/rodents/sugar-glider/index.html" class="list">Sugar Glider</a></li>
                    </ul>
                    <div class="sprite rodents"></div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 gridhome">
                <div class="inner">
                    <a href="sale/reptiles/index.html" class="boxtitle"><h2>Reptiles for Sale</h2></a>
                    <ul class="list-unstyled medium">
                        <li><a href="sale/reptiles/bearded-dragon/index.html" class="list">Bearded Dragon</a></li>
                        <li><a href="sale/reptiles/chameleon/index.html" class="list">Chameleon</a></li>
                        <li><a href="sale/reptiles/gecko/index.html" class="list">Gecko</a></li>
                        <li><a href="sale/reptiles/frog/index.html" class="list">Frog</a></li>
                        <li><a href="sale/reptiles/iguana/index.html" class="list">Iguana</a></li>
                    </ul>
                    <ul class="list-unstyled medium">
                        <li><a href="sale/reptiles/lizard/index.html" class="list">Lizard</a></li>
                        <li><a href="sale/reptiles/snake/index.html" class="list">Snake</a></li>
                        <li><a href="sale/reptiles/terrapin/index.html" class="list">Terrapin</a></li>
                        <li><a href="sale/reptiles/tortoise/index.html" class="list">Tortoise</a></li>
                        <li><a href="sale/reptiles/turtle/index.html" class="list">Turtle</a></li>
                    </ul>
                    <div class="sprite reptiles"></div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 gridhome">
                <div class="inner">
                    <a href="sale/birds/index.html" class="boxtitle"><h2>Birds for Sale</h2></a>
                    <ul class="list-unstyled medium">
                        <li><a href="sale/birds/budgerigars/index.html" class="list">Budgerigars</a></li>
                        <li><a href="sale/birds/canaries/index.html" class="list">Canaries</a></li>
                        <li><a href="sale/birds/cockatiels/index.html" class="list">Cockatiels</a></li>
                        <li><a href="sale/birds/doves/index.html" class="list">Doves</a></li>
                        <li><a href="sale/birds/finches/index.html" class="list">Finches</a></li>
                    </ul>
                    <ul class="list-unstyled medium">
                        <li><a href="sale/birds/lories/index.html" class="list">Lories</a></li>
                        <li><a href="sale/birds/lovebirds/index.html" class="list">Lovebirds</a></li>
                        <li><a href="sale/birds/macaws/index.html" class="list">Macaws</a></li>
                        <li><a href="sale/birds/parrots/index.html" class="list">Parrots</a></li>
                        <li><a href="sale/birds/pigeons/index.html" class="list">Pigeons</a></li>
                    </ul>
                    <div class="sprite birds"></div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 gridhome">
                <div class="inner">
                    <a href="sale/fish/index.html" class="boxtitle"><h2>Fish for Sale</h2></a>
                    <ul class="list-unstyled narrow">
                        <li><a href="sale/fish/angelfish/index.html" class="list">Angelfish</a></li>
                        <li><a href="sale/fish/barbs/index.html" class="list">Barbs</a></li>
                        <li><a href="sale/fish/bettas/index.html" class="list">Bettas</a></li>
                        <li><a href="sale/fish/cichlids/index.html" class="list">Cichlids</a></li>
                        <li><a href="sale/fish/discus/index.html" class="list">Discus</a></li>
                    </ul>
                    <ul class="list-unstyled medium">
                        <li><a href="sale/fish/goldfish/index.html" class="list">Goldfish</a></li>
                        <li><a href="sale/fish/gouramis/index.html" class="list">Gouramis</a></li>
                        <li><a href="sale/fish/koi-carp/index.html" class="list">Koi Carp</a></li>
                        <li><a href="sale/fish/rainbow-fish/index.html" class="list">Rainbow Fish</a></li>
                        <li><a href="sale/fish/tetras/index.html" class="list">Tetras</a></li>
                    </ul>
                    <div class="sprite fish"></div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 gridhome">
                <div class="inner">
                    <a href="sale/poultry/index.html" class="boxtitle"><h2>Poultry for Sale</h2></a>
                    <ul class="list-unstyled medium">
                        <li><a href="sale/poultry/chickens/index.html" class="list">Chickens</a></li>
                        <li><a href="sale/poultry/ducks/index.html" class="list">Ducks</a></li>
                        <li><a href="sale/poultry/geese/index.html" class="list">Geese</a></li>
                        <li><a href="sale/poultry/guinea-fowl/index.html" class="list">Guinea Fowl</a></li>
                        <li><a href="sale/poultry/hens/index.html" class="list">Hens</a></li>
                    </ul>
                    <ul class="list-unstyled medium">
                        <li><a href="sale/poultry/pheasants/index.html" class="list">Pheasants</a></li>
                        <li><a href="sale/poultry/quail/index.html" class="list">Quail</a></li>
                        <li><a href="sale/poultry/turkeys/index.html" class="list">Turkeys</a></li>
                        <li><a href="sale/poultry/waterfowl/index.html" class="list">Waterfowl</a></li>
                        <li><a href="sale/poultry/peafowl/index.html" class="list">Peafowl</a></li>
                    </ul>
                    <div class="sprite poultry"></div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 gridhome hidden-md hidden-lg">
                <div class="inner">
                    <a href="sale/invertebrates/index.html" class="boxtitle"><h2>Invertebrates for Sale</h2></a>
                    <ul class="list-unstyled narrow">
                        <li><a href="sale/invertebrates/tarantulas/index.html" class="list">Tarantulas</a></li>
                        <li><a href="sale/invertebrates/stick-insects/index.html" class="list">Stick Insects</a></li>
                        <li><a href="sale/invertebrates/millipedes/index.html" class="list">Millipedes</a></li>
                    </ul>
                    <ul class="list-unstyled medium">
                        <li><a href="sale/invertebrates/beetles/index.html" class="list">Beetles</a></li>
                        <li><a href="sale/invertebrates/snails/index.html" class="list">Snails</a></li>
                        <li><a href="sale/invertebrates/praying-mantis/index.html" class="list">Praying Mantis</a></li>

                    </ul>
                    <div class="sprite invertebrates"></div>
                </div>
            </div>
        </div>



        <div class="row" style="background-color:#33aab9;padding:15px;margin-top:50px;">

            <div class="col-xs-12">


                <div role="tabpanel">

                    <!-- Nav tabs -->
                    <ul class="nav nav-pills orange" role="tablist" id="myTab">
                        <li role="presentation" class="active"><a href="#dogbreeds" aria-controls="dogbreeds" role="tab" data-toggle="tab">Dog Breeds</a></li>
                        <li role="presentation"><a href="#catbreeds" aria-controls="catbreeds" role="tab" data-toggle="tab">Cat Breeds</a></li>
                        <li role="presentation"><a href="#location" aria-controls="location" role="tab" data-toggle="tab">Locations</a></li>

                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="dogbreeds">

                            <div class="row" style="background-color:#fff;padding:20px 0px 20px 0px;margin-top:20px;">

                                &nbsp;&nbsp;&nbsp;Use our <a href="dog-breeds/index.html">Dog Breed Selector</a> to find your perfect dog breed.<br /><br />

                                <div class="col-xs-6 col-sm-4 col-lg-2 trunctext"><a href="dog-breeds/afghan-hound/index.html">Afghan Hound</a><br /><a href="dog-breeds/airedale-terrier/index.html">Airedale Terrier</a><br /><a href="dog-breeds/akita/index.html">Akita</a><br /><a href="dog-breeds/alaskan-malamute/index.html">Alaskan Malamute</a><br /><a href="dog-breeds/american-bulldog/index.html">American Bulldog</a><br /><a href="dog-breeds/basset-hound/index.html">Basset Hound</a><br /><a href="dog-breeds/beagle/index.html">Beagle</a><br /><a href="dog-breeds/bearded-collie/index.html">Bearded Collie</a><br /><a href="dog-breeds/bedlington-terrier/index.html">Bedlington Terrier</a><br /><a href="dog-breeds/belgian-shepherd-dog/index.html">Belgian Shepherd Dog</a><br /></div><div class="col-xs-6 col-sm-4 col-lg-2 trunctext"><a href="dog-breeds/bichon-frise/index.html">Bichon Frise</a><br /><a href="dog-breeds/border-collie/index.html">Border Collie</a><br /><a href="dog-breeds/border-terrier/index.html">Border Terrier</a><br /><a href="dog-breeds/boston-terrier/index.html">Boston Terrier</a><br /><a href="dog-breeds/boxer/index.html">Boxer</a><br /><a href="dog-breeds/bullmastiff/index.html">Bullmastiff</a><br /><a href="dog-breeds/chihuahua/index.html">Chihuahua</a><br /><a href="dog-breeds/chinese-crested/index.html">Chinese Crested</a><br /><a href="dog-breeds/chow-chow/index.html">Chow Chow</a><br /><a href="dog-breeds/cockapoo/index.html">Cockapoo</a><br /></div><div class="col-xs-6 col-sm-4 col-lg-2 trunctext"><a href="dog-breeds/cocker-spaniel/index.html">Cocker Spaniel</a><br /><a href="dog-breeds/dachshund/index.html">Dachshund</a><br /><a href="dog-breeds/dalmatian/index.html">Dalmatian</a><br /><a href="dog-breeds/dobermann/index.html">Dobermann</a><br /><a href="dog-breeds/dogue-de-bordeaux/index.html">Dogue De Bordeaux</a><br /><a href="dog-breeds/english-bull-terrier/index.html">English Bull Terrier</a><br /><a href="dog-breeds/english-bulldog/index.html">English Bulldog</a><br /><a href="dog-breeds/english-setter/index.html">English Setter</a><br /><a href="dog-breeds/french-bulldog/index.html">French Bulldog</a><br /><a href="dog-breeds/german-shepherd/index.html">German Shepherd</a><br /></div><div class="col-xs-6 col-sm-4 col-lg-2 trunctext"><a href="dog-breeds/golden-retriever/index.html">Golden Retriever</a><br /><a href="dog-breeds/goldendoodle/index.html">Goldendoodle</a><br /><a href="dog-breeds/great-dane/index.html">Great Dane</a><br /><a href="dog-breeds/greyhound/index.html">Greyhound</a><br /><a href="dog-breeds/irish-setter/index.html">Irish Setter</a><br /><a href="dog-breeds/jack-russell/index.html">Jack Russell</a><br /><a href="dog-breeds/king-charles-spaniel/index.html">King Charles Spaniel</a><br /><a href="dog-breeds/labradoodle/index.html">Labradoodle</a><br /><a href="dog-breeds/labrador-retriever/index.html">Labrador Retriever</a><br /><a href="dog-breeds/maltese/index.html">Maltese</a><br /></div><div class="col-xs-6 col-sm-4 col-lg-2 trunctext"><a href="dog-breeds/newfoundland/index.html">Newfoundland</a><br /><a href="dog-breeds/old-english-sheepdog/index.html">Old English Sheepdog</a><br /><a href="dog-breeds/patterdale-terrier/index.html">Patterdale Terrier</a><br /><a href="dog-breeds/pointer/index.html">Pointer</a><br /><a href="dog-breeds/pomeranian/index.html">Pomeranian</a><br /><a href="dog-breeds/poodle/index.html">Poodle</a><br /><a href="dog-breeds/pug/index.html">Pug</a><br /><a href="dog-breeds/rottweiler/index.html">Rottweiler</a><br /><a href="dog-breeds/saint-bernard/index.html">Saint Bernard</a><br /><a href="dog-breeds/saluki/index.html">Saluki</a><br /></div><div class="col-xs-6 col-sm-4 col-lg-2 trunctext"><a href="dog-breeds/samoyed/index.html">Samoyed</a><br /><a href="dog-breeds/shar-pei/index.html">Shar Pei</a><br /><a href="dog-breeds/shih-tzu/index.html">Shih Tzu</a><br /><a href="dog-breeds/siberian-husky/index.html">Siberian Husky</a><br /><a href="dog-breeds/weimaraner/index.html">Weimaraner</a><br /><a href="dog-breeds/welsh-collie/index.html">Welsh Collie</a><br /><a href="dog-breeds/welsh-springer-spaniel/index.html">Welsh Springer Spaniel</a><br /><a href="dog-breeds/west-highland-terrier/index.html">West Highland Terrier</a><br /><a href="dog-breeds/whippet/index.html">Whippet</a><br /><a href="dog-breeds/yorkshire-terrier/index.html">Yorkshire Terrier</a><br /></div><div class="col-xs-6 col-sm-4 col-lg-2 trunctext"></div>

                            </div> <!-- End of Row -->

                        </div>  <!-- End of Tab Panel - Dog Breeds -->



                        <div role="tabpanel" class="tab-pane" id="catbreeds">

                            <div class="row" style="background-color:#fff;padding:20px 0px 20px 0px;margin-top:20px;">

                                <div class="col-xs-6 col-sm-4 col-lg-2 trunctext"><a href="cat-breeds/abyssinian/index.html">Abyssinian</a><br /><a href="cat-breeds/american-bobtail/index.html">American Bobtail</a><br /><a href="cat-breeds/american-curl/index.html">American Curl</a><br /><a href="cat-breeds/american-shorthair/index.html">American Shorthair</a><br /><a href="cat-breeds/american-wirehair/index.html">American Wirehair</a><br /><a href="cat-breeds/arctic-curl/index.html">Arctic Curl</a><br /><a href="cat-breeds/asian/index.html">Asian</a><br /><a href="cat-breeds/australian-mist/index.html">Australian Mist</a><br /><a href="cat-breeds/balinese/index.html">Balinese</a><br /></div><div class="col-xs-6 col-sm-4 col-lg-2 trunctext"><a href="cat-breeds/bengal/index.html">Bengal</a><br /><a href="cat-breeds/birman/index.html">Birman</a><br /><a href="cat-breeds/bombay/index.html">Bombay</a><br /><a href="cat-breeds/british-shorthair/index.html">British Shorthair</a><br /><a href="cat-breeds/burmese/index.html">Burmese</a><br /><a href="cat-breeds/burmilla/index.html">Burmilla</a><br /><a href="cat-breeds/chartreux/index.html">Chartreux</a><br /><a href="cat-breeds/chausie/index.html">Chausie</a><br /><a href="cat-breeds/cornish-rex/index.html">Cornish Rex</a><br /></div><div class="col-xs-6 col-sm-4 col-lg-2 trunctext"><a href="cat-breeds/devon-rex/index.html">Devon Rex</a><br /><a href="cat-breeds/egyptian-mau/index.html">Egyptian Mau</a><br /><a href="cat-breeds/exotic/index.html">Exotic</a><br /><a href="cat-breeds/havana-brown/index.html">Havana Brown</a><br /><a href="cat-breeds/japanese-bobtail/index.html">Japanese Bobtail</a><br /><a href="cat-breeds/korat/index.html">Korat</a><br /><a href="cat-breeds/kurilian-bobtail/index.html">Kurilian Bobtail</a><br /><a href="cat-breeds/laperm/index.html">LaPerm</a><br /><a href="cat-breeds/maine-coon/index.html">Maine Coon</a><br /></div><div class="col-xs-6 col-sm-4 col-lg-2 trunctext"><a href="cat-breeds/manx/index.html">Manx</a><br /><a href="cat-breeds/munchkin/index.html">Munchkin</a><br /><a href="cat-breeds/norwegian-forest-cat/index.html">Norwegian Forest Cat</a><br /><a href="cat-breeds/ocicat/index.html">Ocicat</a><br /><a href="cat-breeds/oriental/index.html">Oriental</a><br /><a href="cat-breeds/persian/index.html">Persian</a><br /><a href="cat-breeds/pixie-bob/index.html">Pixie Bob</a><br /><a href="cat-breeds/ragamuffin/index.html">RagaMuffin</a><br /><a href="cat-breeds/ragdoll/index.html">Ragdoll</a><br /></div><div class="col-xs-6 col-sm-4 col-lg-2 trunctext"><a href="cat-breeds/russian-blue/index.html">Russian Blue</a><br /><a href="cat-breeds/savannah/index.html">Savannah</a><br /><a href="cat-breeds/scottish-fold/index.html">Scottish Fold</a><br /><a href="cat-breeds/selkirk-rex/index.html">Selkirk Rex</a><br /><a href="cat-breeds/serengeti/index.html">Serengeti</a><br /><a href="cat-breeds/siamese/index.html">Siamese</a><br /><a href="cat-breeds/siberian/index.html">Siberian</a><br /><a href="cat-breeds/singapura/index.html">Singapura</a><br /><a href="cat-breeds/snowshoe/index.html">Snowshoe</a><br /></div><div class="col-xs-6 col-sm-4 col-lg-2 trunctext"><a href="cat-breeds/Sokoke/index.html">Sokoke</a><br /><a href="cat-breeds/somali/index.html">Somali</a><br /><a href="cat-breeds/sphynx/index.html">Sphynx</a><br /><a href="cat-breeds/thai/index.html">Thai</a><br /><a href="cat-breeds/tiffanie/index.html">Tiffanie</a><br /><a href="cat-breeds/tonkinese/index.html">Tonkinese</a><br /><a href="cat-breeds/toyger/index.html">Toyger</a><br /><a href="cat-breeds/turkish-angora/index.html">Turkish Angora</a><br /><a href="cat-breeds/turkish-van/index.html">Turkish Van</a><br /></div><div class="col-xs-6 col-sm-4 col-lg-2 trunctext"></div>

                            </div> <!-- End of Row -->

                        </div>  <!-- End of Tab Panel - Cat Breeds -->




                        <div role="tabpanel" class="tab-pane" id="location">

                            <div class="row" style="background-color:#fff;padding:20px 0px 20px 0px;margin-top:20px;">


                                <div class="col-xs-6 col-sm-4 col-md-2 trunctext"><a href="sale/pets/local/aberdeen/index.html" title="Pets for Sale in Aberdeen">Aberdeen</a><br /><a href="sale/pets/local/barnet/index.html" title="Pets for Sale in Barnet">Barnet</a><br /><a href="sale/pets/local/barnsley/index.html" title="Pets for Sale in Barnsley">Barnsley</a><br /><a href="sale/pets/local/basildon/index.html" title="Pets for Sale in Basildon">Basildon</a><br /><a href="sale/pets/local/bath/index.html" title="Pets for Sale in Bath">Bath</a><br /><a href="sale/pets/local/belfast_county-antrim/index.html" title="Pets for Sale in Belfast">Belfast</a><br /><a href="sale/pets/local/bexley/index.html" title="Pets for Sale in Bexley">Bexley</a><br /><a href="sale/pets/local/birmingham/index.html" title="Pets for Sale in Birmingham">Birmingham</a><br /><a href="sale/pets/local/blackburn/index.html" title="Pets for Sale in Blackburn">Blackburn</a><br /><a href="sale/pets/local/blackpool/index.html" title="Pets for Sale in Blackpool">Blackpool</a><br /><a href="sale/pets/local/bolton/index.html" title="Pets for Sale in Bolton">Bolton</a><br /><a href="sale/pets/local/bournemouth/index.html" title="Pets for Sale in Bournemouth">Bournemouth</a><br /><a href="sale/pets/local/bracknell/index.html" title="Pets for Sale in Bracknell">Bracknell</a><br /><a href="sale/pets/local/bradford/index.html" title="Pets for Sale in Bradford">Bradford</a><br /><a href="sale/pets/local/bridgend/index.html" title="Pets for Sale in Bridgend">Bridgend</a><br /></div><div class="col-xs-6 col-sm-4 col-md-2 trunctext"><a href="sale/pets/local/bristol/index.html" title="Pets for Sale in Bristol">Bristol</a><br /><a href="sale/pets/local/caerphilly/index.html" title="Pets for Sale in Caerphilly">Caerphilly</a><br /><a href="sale/pets/local/cambridge/index.html" title="Pets for Sale in Cambridge">Cambridge</a><br /><a href="sale/pets/local/cardiff/index.html" title="Pets for Sale in Cardiff">Cardiff</a><br /><a href="sale/pets/local/carlisle/index.html" title="Pets for Sale in Carlisle">Carlisle</a><br /><a href="sale/pets/local/chelmsford/index.html" title="Pets for Sale in Chelmsford">Chelmsford</a><br /><a href="sale/pets/local/cheltenham/index.html" title="Pets for Sale in Cheltenham">Cheltenham</a><br /><a href="sale/pets/local/colchester/index.html" title="Pets for Sale in Colchester">Colchester</a><br /><a href="sale/pets/local/coventry/index.html" title="Pets for Sale in Coventry">Coventry</a><br /><a href="sale/pets/local/crawley/index.html" title="Pets for Sale in Crawley">Crawley</a><br /><a href="sale/pets/local/croydon/index.html" title="Pets for Sale in Croydon">Croydon</a><br /><a href="sale/pets/local/darlington/index.html" title="Pets for Sale in Darlington">Darlington</a><br /><a href="sale/pets/local/derby/index.html" title="Pets for Sale in Derby">Derby</a><br /><a href="sale/pets/local/dudley/index.html" title="Pets for Sale in Dudley">Dudley</a><br /><a href="sale/pets/local/dundee/index.html" title="Pets for Sale in Dundee">Dundee</a><br /></div><div class="col-xs-6 col-sm-4 col-md-2 trunctext"><a href="sale/pets/local/eastbourne/index.html" title="Pets for Sale in Eastbourne">Eastbourne</a><br /><a href="sale/pets/local/edinburgh/index.html" title="Pets for Sale in Edinburgh">Edinburgh</a><br /><a href="sale/pets/local/exeter/index.html" title="Pets for Sale in Exeter">Exeter</a><br /><a href="sale/pets/local/glasgow/index.html" title="Pets for Sale in Glasgow">Glasgow</a><br /><a href="sale/pets/local/gloucester/index.html" title="Pets for Sale in Gloucester">Gloucester</a><br /><a href="sale/pets/local/grimsby/index.html" title="Pets for Sale in Grimsby">Grimsby</a><br /><a href="sale/pets/local/high-wycombe/index.html" title="Pets for Sale in High Wycombe">High Wycombe</a><br /><a href="sale/pets/local/huddersfield/index.html" title="Pets for Sale in Huddersfield">Huddersfield</a><br /><a href="sale/pets/local/hull/index.html" title="Pets for Sale in Hull">Hull</a><br /><a href="sale/pets/local/ipswich/index.html" title="Pets for Sale in Ipswich">Ipswich</a><br /><a href="sale/pets/local/lancaster/index.html" title="Pets for Sale in Lancaster">Lancaster</a><br /><a href="sale/pets/local/leamington-spa/index.html" title="Pets for Sale in Leamington Spa">Leamington Spa</a><br /><a href="sale/pets/local/leeds/index.html" title="Pets for Sale in Leeds">Leeds</a><br /><a href="sale/pets/local/leicester/index.html" title="Pets for Sale in Leicester">Leicester</a><br /><a href="sale/pets/local/liverpool/index.html" title="Pets for Sale in Liverpool">Liverpool</a><br /></div><div class="col-xs-6 col-sm-4 col-md-2 trunctext"><a href="sale/pets/local/london/index.html" title="Pets for Sale in London">London</a><br /><a href="sale/pets/local/luton/index.html" title="Pets for Sale in Luton">Luton</a><br /><a href="sale/pets/local/maidstone/index.html" title="Pets for Sale in Maidstone">Maidstone</a><br /><a href="sale/pets/local/manchester/index.html" title="Pets for Sale in Manchester">Manchester</a><br /><a href="sale/pets/local/middlesbrough/index.html" title="Pets for Sale in Middlesbrough">Middlesbrough</a><br /><a href="sale/pets/local/milton-keynes/index.html" title="Pets for Sale in Milton Keynes">Milton Keynes</a><br /><a href="sale/pets/local/newcastle-upon-tyne/index.html" title="Pets for Sale in Newcastle Upon Tyne">Newcastle Upon Tyne</a><br /><a href="sale/pets/local/newport/index.html" title="Pets for Sale in Newport">Newport</a><br /><a href="sale/pets/local/northampton/index.html" title="Pets for Sale in Northampton">Northampton</a><br /><a href="sale/pets/local/norwich/index.html" title="Pets for Sale in Norwich">Norwich</a><br /><a href="sale/pets/local/nottingham/index.html" title="Pets for Sale in Nottingham">Nottingham</a><br /><a href="sale/pets/local/oldham/index.html" title="Pets for Sale in Oldham">Oldham</a><br /><a href="sale/pets/local/oxford/index.html" title="Pets for Sale in Oxford">Oxford</a><br /><a href="sale/pets/local/peterborough/index.html" title="Pets for Sale in Peterborough">Peterborough</a><br /><a href="sale/pets/local/plymouth/index.html" title="Pets for Sale in Plymouth">Plymouth</a><br /></div><div class="col-xs-6 col-sm-4 col-md-2 trunctext"><a href="sale/pets/local/poole/index.html" title="Pets for Sale in Poole">Poole</a><br /><a href="sale/pets/local/portsmouth/index.html" title="Pets for Sale in Portsmouth">Portsmouth</a><br /><a href="sale/pets/local/preston/index.html" title="Pets for Sale in Preston">Preston</a><br /><a href="sale/pets/local/reading/index.html" title="Pets for Sale in Reading">Reading</a><br /><a href="sale/pets/local/redditch/index.html" title="Pets for Sale in Redditch">Redditch</a><br /><a href="sale/pets/local/rochdale/index.html" title="Pets for Sale in Rochdale">Rochdale</a><br /><a href="sale/pets/local/rotherham/index.html" title="Pets for Sale in Rotherham">Rotherham</a><br /><a href="sale/pets/local/sheffield/index.html" title="Pets for Sale in Sheffield">Sheffield</a><br /><a href="sale/pets/local/slough/index.html" title="Pets for Sale in Slough">Slough</a><br /><a href="sale/pets/local/solihull/index.html" title="Pets for Sale in Solihull">Solihull</a><br /><a href="sale/pets/local/southampton/index.html" title="Pets for Sale in Southampton">Southampton</a><br /><a href="sale/pets/local/southend-on-sea/index.html" title="Pets for Sale in Southend On Sea">Southend On Sea</a><br /><a href="sale/pets/local/st-albans/index.html" title="Pets for Sale in St Albans">St Albans</a><br /><a href="sale/pets/local/st-helens/index.html" title="Pets for Sale in St Helens">St Helens</a><br /><a href="sale/pets/local/stockport/index.html" title="Pets for Sale in Stockport">Stockport</a><br /></div><div class="col-xs-6 col-sm-4 col-md-2 trunctext"><a href="sale/pets/local/stoke-on-trent/index.html" title="Pets for Sale in Stoke On Trent">Stoke On Trent</a><br /><a href="sale/pets/local/sunderland/index.html" title="Pets for Sale in Sunderland">Sunderland</a><br /><a href="sale/pets/local/sutton-coldfield/index.html" title="Pets for Sale in Sutton Coldfield">Sutton Coldfield</a><br /><a href="sale/pets/local/swansea/index.html" title="Pets for Sale in Swansea">Swansea</a><br /><a href="sale/pets/local/swindon/index.html" title="Pets for Sale in Swindon">Swindon</a><br /><a href="sale/pets/local/telford/index.html" title="Pets for Sale in Telford">Telford</a><br /><a href="sale/pets/local/torquay/index.html" title="Pets for Sale in Torquay">Torquay</a><br /><a href="sale/pets/local/walsall/index.html" title="Pets for Sale in Walsall">Walsall</a><br /><a href="sale/pets/local/warrington/index.html" title="Pets for Sale in Warrington">Warrington</a><br /><a href="sale/pets/local/watford/index.html" title="Pets for Sale in Watford">Watford</a><br /><a href="sale/pets/local/west-bromwich/index.html" title="Pets for Sale in West Bromwich">West Bromwich</a><br /><a href="sale/pets/local/wolverhampton/index.html" title="Pets for Sale in Wolverhampton">Wolverhampton</a><br /><a href="sale/pets/local/worcester/index.html" title="Pets for Sale in Worcester">Worcester</a><br /><a href="sale/pets/local/wrexham/index.html" title="Pets for Sale in Wrexham">Wrexham</a><br /><a href="sale/pets/local/york/index.html" title="Pets for Sale in York">York</a><br /></div><div class="col-xs-6 col-sm-4 col-md-2 trunctext"></div>
                            </div> <!-- End of Row -->

                        </div>  <!-- End of Tab Panel - Locations -->




                    </div>   <!-- End of Tab Content -->

                </div>   <!-- End of Tab Panel -->

            </div>  <!-- End of Column -->

        </div>  <!-- End of Row -->






    </div><!--/container-->

</div> <!--/blue-container-->
