﻿@model Dogs.Models.Employee

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<table class="text-center">
    <tr>
        <td>
            <b>Employee ID : </b>
        </td>
        <td>
            <b>@Model.EmpID </b>
        </td>
    </tr>
    <tr>
        <td>
            <b>Employee Name : </b>
        </td>
        <td>
            <b>@Model.Name </b>
        </td>
    </tr>
    <tr>
        <td>
            <b>Employee Gender : </b>
        </td>
        <td>
            <b>@Model.Gender </b>
        </td>
    </tr>
    <tr>
        <td>
            <b>Employee City : </b>
        </td>
        <td>
            <b>@Model.City </b>
        </td>
    </tr>
</table>