﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - PETSA HUT</title>
    <link rel="shortcut icon" href="~/Content/favicon-32x32.png" />
    <link href="@Url.Content("http://fonts.googleapis.com/css?family=Passion+One")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/js/themey.js")"></script>
    <style>
        .hidden {
            display: none !important;
        }

        .mainHeader {
            position: fixed;
            width: 100%;
            z-index: 1000;
        }
        .headerunit {
            margin-top:60px;
        }
    </style>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")

    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/modernizr")


</head>
<body>
    @*<div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("PETSA HUT", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                </div>
            </div>
        </div>*@
    <div class="mainHeader" style="background:#fcb843;">
        <nav class="navbar navbar-inverse" role="navigation">




            <div class="navbar-header pull-right">



                <div class="pull-right">

                    <div class="btn btn-nav navbar-btn dropdown-toggle margin-right-10" data-toggle="dropdown" role="button" aria-expanded="false">
                        <div class="hidden-xs hidden-sm"><i class="fa fa-user fa-lg fa-fw"></i>&nbsp;&nbsp;My Account <span class="caret"></span></div>
                        <div class="hidden-xs hidden-md hidden-lg"><i class="fa fa-user fa-lg fa-fw"></i>&nbsp;&nbsp;Account <span class="caret"></span></div>
                        <div class="hidden-sm hidden-md hidden-lg"><i class="fa fa-user fa-lg fa-fw"></i><span class="caret"></span></div>
                    </div>


                    <ul class="dropdown-menu pull-right col-xs-7 col-sm-4 col-md-3 col-lg-2" role="menu">

                        @*<li>@Html.ActionLink( new MvcHtmlString("<i class='fa fa-sign-in fa-lg'></i>&nbsp;&nbsp;Sign In").ToHtmlString(), "Index", "Login")</li>*@
                        <li><a href="@Url.Action("Index", "Login")"><i class='fa fa-sign-in fa-lg'></i>&nbsp;&nbsp;Sign In</a></li>
                        @*<li>@Html.ActionLink(new MvcHtmlString("<i class='fa fa-user fa-lg'></i>&nbsp;&nbsp;Register").ToHtmlString(), "Index", "Login")</li>*@
                        <li><a href="@Url.Action("Index", "Login")"><i class='fa fa-user fa-lg'></i>&nbsp;&nbsp;Register</a></li>
                        @*<li>@Html.ActionLink(new MvcHtmlString("<i class='fa fa-plus fa-lg'></i>&nbsp;&nbsp;Post an Advert").ToHtmlString(), "Index", "Login")</li>*@
                        <li><a href="@Url.Action("Index", "Login")"><i class='fa fa-plus fa-lg'></i>&nbsp;&nbsp;Post an Advert</a></li>

                    </ul>



                </div>

            </div>




            <div class="navbar-header">

                <!-- <button class="navbar-toggle pull-left" data-toggle="collapse" data-target=".navbar-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button> -->
                @*navexpander fa toggle fa-times moveright*@
                @*navexpander fa fa-bars toggle*@

                <a class="navexpander fa fa-bars toggle"></a>


                <a class="navbar-brand navbar-brand-sm visible-xs visible-sm" href="#">
                    <img src="~/images/pets4homes-mobile-icon.svg" alt="Pets4Homes UK" width="60" />
                </a>
                <a class="navbar-brand navbar-brand-lg visible-md visible-lg" href="#">
                    <img src="~/images/pets4homes-logo-horiz4.svg" alt="Pets4Homes UK" width="220" />
                </a>
            </div>







            <div class="menunav">

                <a class="sidemenu-brand" href="#"><img src="~/images/pets4homes-text-only.svg" alt="Pets4Homes UK" width="190" /></a>
                <br /><br /><br /><br /><br />
                <ul class="sidemenu">

                    <li class="active"><a href="#" title="Pets4Homes">Home</a></li>
                    <li><a href="#" title="Pets for Adoption">Adoption</a></li>
                    <li><a href="#" title="Pets for Sale">Sale</a></li>
                    <li><a href="#" title="Pets for Stud">Stud</a></li>
                    <li><a href="#" title="Wanted Pets">Pets Wanted</a></li>
                    <li><a href="#" title="Pet Advice">Pet Advice</a></li>
                    <li><a href="#" title="Dog Breeds">Dog Breeds</a></li>
                    <li><a href="#" title="Cat Breeds">Cat Breeds</a></li>
                    <li><a href="#" title="Pets4Homes Pet Insurance">Pet Insurance</a></li>
                </ul>



            </div>


        </nav>
    </div>



    <div class="headerunit">
        <div class="container" style="text-align:center;padding:0;">

            <!-- /1749970/P4H_Responsive_Header_DFP -->
            @*<div id='div-gpt-ad-1456153987748-0'>
                    <script type='text/javascript'>
                        googletag.cmd.push(function () { googletag.display('div-gpt-ad-1456153987748-0'); });
                    </script>
                </div>*@
            <div class="advertboxcontainer" style="min-height : 250px; background-color:gray; font-size: 40pt; vertical-align:middle;">Adverts </div>

        </div>
    </div>
    @RenderBody()
    <!-- Footer -->
    <div class="footersmall">
        <div class="container">
            <div class="row" style="padding:0px 15px 0px 0px;">

                <a href="#" class="first">About</a>
                <a href="#">Contact</a>
                <a href="#">Advertising</a>
                <a href="#" class="hidden-xs">Write For Us</a>
                <a href="#" class="hidden-xs">Link to Us</a>
                <a href="#" class="hidden-xs">Banners</a>

            </div>
        </div>
    </div>



    <!-- Footer -->
    <div class="footer">
        <div class="container">
            <div class="row" style="background-color:#eee;padding:0px 15px 0px 0px;">

                <div class="col-xs-6 col-sm-3">
                    <div class="heading">Social Media</div>
                    <a href="#" title="Like Pets4Homes on facebook" target="_blank">Like us on Facebook</a><br />
                    <a href="#" title="Follow Pets4Homes on twitter" target="_blank">Follow us on Twitter</a><br />
                    <a href="#" title="Follow Pets4Homes on google" rel="publisher" target="_blank">Follow us on Google Plus</a><br /><br />
                    <a href="#" title="Pets4Homes"><img src="~/images/pets4homes-logo.svg" alt="Pets4Homes" width="140" /></a>
                </div>


                <div class="col-xs-6 col-sm-9">

                    <div class="row">

                        <div class="col-xs-12 col-sm-4 col-md-3">
                            <div class="heading">
                                <a href="#">Dogs & Puppies for Sale</a>
                            </div>
                            <a href="#">French Bulldogs for Sale</a><br />
                            <a href="#">Chihuahuas for Sale</a><br />
                            <a href="#">Pugs for Sale</a><br />
                            <a href="#">Cocker Spaniels for Sale</a><br />
                            <a href="#">Labradors for Sale</a><br />
                            <a href="#">Bulldogs for Sale</a><br />
                        </div>
                        <div class="col-sm-4 col-md-3 hidden-xs">
                            <div class="heading">Cats & Kittens for Sale</div>
                            <a href="#">Bengals for Sale</a><br />
                            <a href="#">British Shorthairs for Sale</a><br />
                            <a href="#">Oriental Cats for Sale</a><br />
                            <a href="#">Persian Cats for Sale</a><br />
                            <a href="#">Ragdoll Cats for Sale</a><br />
                            <a href="#">Siamese Cats for Sale</a><br />
                        </div>
                        <div class="col-sm-4 col-md-3 hidden-xs">
                            <div class="heading">Other Pets for Sale</div>
                            <a href="#">Birds for Sale</a><br />
                            <a href="#">Fish for Sale</a><br />
                            <a href="#">Horses for Sale</a><br />
                            <a href="#">Poultry for Sale</a><br />
                            <a href="#">Rabbits for Sale</a><br />
                            <a href="#">Rodents for Sale</a>
                        </div>
                        <div class="col-md-3 hidden-xs hidden-sm">
                            <div class="heading">Other Pages</div>
                            <a href="#">Cat Breeds</a><br />
                            <a href="#">Dog Breeds</a><br />
                            <a href="#">Pet Adoption</a><br />
                            <a href="#">Dog Adoption</a><br />
                            <a href="#">Cat Adoption</a><br />
                            <a href="#">Sell Pets for Free</a>
                        </div>

                    </div>

                </div>

            </div> <!-- end of row -->



        </div>
    </div>

    <!-- End of Footer -->
    <!-- Small Footer -->

    <div class="footerbottom">
        <div class="container">
            <div class="row" style="padding:15px 0px 15px 0px;">

                <div class="col-xs-12">
                    © Copyright - Pets4Homes.co.uk (2018) - Pet Media Ltd<br />
                    Pets4Homes.co.uk use cookies on this site to enhance your user experience.  Use of this website constitutes acceptance of the Pets4Homes <a href="#">Terms</a> and <a href="#">Cookies and Privacy Policy</a>.<br /><br />
                </div>

            </div>
        </div>
    </div>


    <script>
        $(document).ready(setInterval(function () {
            var winWidth = $(window).width();
            if (winWidth < 768) {
                //$('.navbar-brand-sm').css('display', '');
                $('.navbar-brand-lg').css('display', 'none');
            }
            else {
                //$('.navbar-brand-lg').css('display', '');
                $('.navbar-brand-sm').css('display', 'none');
            }
        },30));
        $('.navexpander').click(function () {
            var clicks = $(this).data('clicks');
            if (clicks) {
                // odd clicks
                $('.navexpander').attr('class', 'navexpander fa fa-bars toggle');
                $('.navbar-brand').removeClass('hidden');
                $('.navbar-brand').css('display','initial');
                $('.menunav').css('left', '-16em');

            } else {
                // even clicks
                $('.navexpander').attr('class', 'navexpander fa toggle fa-times moveright');
                $('.navbar-brand').addClass('hidden');
                $('.menunav').css('left', 'unset');
            }
            $(this).data("clicks", !clicks);
        });
    </script>
    @Scripts.Render("~/bundles/bootstrap")

</body>
</html>
